# This is a comment.
# Each line is a file pattern followed by one or more owners.

# new packages should have extra layer of approval
/package.json @GTCMT/earsketch-admins
/package-lock.json @GTCMT/earsketch-admins