{
  "presets": ["@babel/env", "@babel/preset-react"],
  "sourceType": "unambiguous",
  "plugins": [
    // TODO: set up fast refresh
    // "react-hot-loader/babel",
    ["@babel/plugin-transform-runtime", { "regenerator": true }]
  ]
}
