<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>EarSketch Autograder</title>

<base href="../">

<script>
  var BUILD_NUM=322; //run "grunt update-version" to update release number
  var LAZY_SCRIPT_COMPILER = false;
  var USER_CLIENT_TS = false;
  var TS_QUICK_SEARCH = true;
  var CACHE_TS_RESULTS = true;
</script>
<!--Could not get this to work with require-->
<script type="text/javascript" src="scripts/vendor/js-interpreter/acorn.js"></script>

<!-- Google Font -->
<link href='fonts/lato/lato.css' rel='stylesheet' type='text/css'>
<link href='fonts/roboto/roboto.css' rel='stylesheet' type='text/css'>
<link href='fonts/hack/css/hack.css' rel='stylesheet' type='text/css'>

<!-- vendor styles -->
<link rel="stylesheet" href="css/vendor/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/vendor/rzslider.min.css" />

<!-- Icon Moon -->
<link rel="stylesheet" href="fonts/icomoon_ultimate/style.css">

<!-- LESS -->
<link rel="stylesheet" type="text/css" href="css/earsketch/allstyles.css">
<link rel="stylesheet" type="text/css" href="css/earsketch/theme_light.css">


<meta http-equiv="content-type" content="text/html; charset=UTF8">

<style>
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
{
    display: none;
}

.container {
  width: 70%;
}
</style>

</head>
<body ng-controller="autograderController" ng-cloak>

    <div class="container">
      <h1>EarSketch Autograder</h1>

      <div class="alert alert-danger" role="alert" ng-show="compileError">{{compileError}}</div>
      <div class="panel panel-primary"
             ngf-drop
             ngf-select
             ng-model="referenceFile"
             ngf-drag-over-class="'panel-default'"
             ngf-multiple="false"
             ngf-allow-dir="true"
             ngf-pattern="*">
        <div class="panel-heading">
          Step 1: Upload a Reference Script
        </div>
        <div class="panel-body">
          Drop script here or click to upload.
        </div>
      </div>
    </div>

    <div class="container" ng-if="referenceScript" ng-init="collapse = true">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i ng-show="compilingReference" class="spinner icon icon-spinner"></i>
          {{referenceFile.name}}
          <a href="javascript:void(0);" class="pull-right" ng-click="collapse = true" ng-show="!collapse">Collapse</a>
          <a href="javascript:void(0);" class="pull-right" ng-click="collapse = false" ng-show="collapse">Expand</a>
        </div>
        <div ng-show="!collapse">
          <div code-embed ng-model="referenceScript" language="referenceLanguage" style="height: 300px;"></div>
        </div>
        <div ng-show="referenceResult && !collapse" style="position: relative; height: 300px; background: #EFEFEF;" >
          <daw ng-model="referenceResult"></daw>
        </div>
      </div>
    </div>

      <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Step 2: Configure Test
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4" ng-show="referenceResult && !compileError">
                        <h4>Tracks to Compare</h4>
                        <div>
                          <label>
                            <input type="checkbox" ng-model="testAllTracks" ng-checked="true" ng-true-value="true" ng-false-value="false">
                            Compare all tracks.
                          </label>
                        </div>
                        <br>
                        <div ng-repeat="track in referenceResult.tracks track by $index" ng-if="$index < referenceResult.tracks.length - 1">
                            <label>
                                <input type="checkbox" ng-model="testTracks[$index]" ng-checked="true" ng-true-value="true" ng-false-value="false" ng-init="testTracks[$index]=true" ng-disabled="testAllTracks">
                                <span ng-show="$index==0">Master</span>
                                <span ng-hide="$index==0">Track {{$index}}</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4" ng-hide="referenceResult && !compileError">
                        <h4>Tracks to Compare</h4>
                        Available after uploading a reference script.
                    </div>
                    <div class="col-md-4" ng-show="referenceResult && !compileError">
                        <h4>Input Prompts</h4>
                        <label ng-show="prompts.length > 0">
                          <input type="checkbox" ng-model="allowPrompts" ng-true-value="false" ng-false-value="true">
                          Automatically use these prompts when needed in test scripts:
                        </label>
                        <ol ng-show="prompts.length > 0">
                          <li ng-repeat="p in prompts track by $index"><b>{{p}}</b></li>
                        </ol>
                        <div ng-hide="prompts.length > 0">
                          No user input detected.
                        </div>
                    </div>
                    <div class="col-md-4" ng-hide="referenceResult && !compileError">
                        <h4>Input Prompts</h4>
                        Available after uploading a reference script.
                    </div>
                    <div class="col-md-4">
                        <h4>Random Seed</h4>
                        <label>
                          <input type="checkbox" ng-model="useSeed" ng-true-value="true" ng-false-value="false">
                          Use the following random seed:
                        </label>
                        <input type="text" ng-model="seed"></input>
                        <p class="small">
                        This will automatically seed every random function in Python and JavaScript.
                        </p>
                        <p class="small">
                        Disclaimer: Testing randomness is inherently difficult. Only use this in the most trivial of cases.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="referenceResult && !compileError" class="panel panel-primary"
                 ngf-drop
                 ngf-select
                 ng-model="files"
                 ngf-drag-over-class="'panel-default'"
                 ngf-multiple="true"
                 ngf-allow-dir="true"
                 ngf-pattern="*">
            <div class="panel-heading">
                Step 3: Upload Test Scripts
            </div>
            <div class="panel-body">
                        Drop scripts here or click to upload.
                <div class="alert alert-danger" role="alert" ng-show="uploadError">{{uploadError}}</div>
            </div>
        </div>
      </div>

      <div class="container" ng-show="uploads.length == files.length">
        <div class="panel panel-default" ng-repeat="upload in uploads | orderBy: 'file.name'" ng-init="showCode = false">
          <div class="panel-heading">
            <div class="row">
              <div class="col-sm-6">
                <i ng-hide="upload.compiled" class="spinner icon icon-spinner"></i>
                <b>{{$index + 1}}.</b> {{upload.file.name | limitTo: 70}}
                <span ng-show="upload.file.name.length > 50">...</span>
              </div>
              <div class="col-sm-3">
                <span class="label label-success" ng-show="upload.compiled && !upload.error && upload.pass">
                  Perfect match!
                </span>
                <span class="label label-warning" ng-show="upload.compiled && !upload.error && !upload.pass">
                  Does not match.
                </span>
                <span class="label label-danger" ng-show="upload.compiled && upload.error">
                  {{upload.error}}
                </span>
              </div>
              <div class="col-sm-3">
                <a href="javascript:void(0);" class="pull-right" ng-click="showCode = false" ng-show="showCode">Collapse</a>
                <a href="javascript:void(0);" class="pull-right" ng-click="showCode = true" ng-hide="showCode">Expand</a>
              </div>
            </div>
          </div>
          <div ng-show="upload.compiled && showCode">
            <div code-embed ng-model="upload.script" language="upload.language" style="height: 300px;"></div>
          </div>
          <div ng-show="upload.compiled && showCode && !upload.error" style="position: relative; height: 300px; background: #EFEFEF;" >
            <daw ng-model="upload.result"></daw>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="alert alert-success" ng-show="uploads.length == files.length">
        All scripts tested.
      </div>
      <div class="alert alert-info" ng-hide="uploads.length == files.length || uploads.length == 0">
        Testing script {{uploads.length}} / {{files.length}}
      </div>
    </div>
</body>
