<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>EarSketch User history</title>

<base href="../">

<!-- Google Font -->
<link href='fonts/lato/lato.css' rel='stylesheet' type='text/css'>
<link href='fonts/roboto/roboto.css' rel='stylesheet' type='text/css'>
<link href='fonts/hack/css/hack.css' rel='stylesheet' type='text/css'>

<!-- vendor styles -->
<link rel="stylesheet" href="css/vendor/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/vendor/rzslider.min.css" />

<!-- Icon Moon -->
<link rel="stylesheet" href="fonts/icomoon_ultimate/style.css">

<!-- LESS -->
<link rel="stylesheet" type="text/css" href="css/earsketch/allstyles.css">
<link rel="stylesheet" type="text/css" href="css/earsketch/theme_light.css">

<meta http-equiv="content-type" content="text/html; charset=UTF8">
<style>
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak

{
    display: none;
}

.container {
  width: 70%;
}
</style>

</head>
<body ng-controller="userHistoryController" ng-cloak>

    <div class="container">

      <h1>EarSketch User History</h1>

      <div class="panel panel-primary">
        <div class="panel-heading">
          Paste share URLS
        </div>
        <div class="panel-body">
          <textarea class="form-control" rows="3" placeholder="URLS" ng-model="urls"></textarea>
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" ng-click="run()" ng-hide="running">Show history</button>
        </div>
      </div>
      <div ng-if="unauthorized">User not authorized. Please log in with a Group Administrator account</div>
      <table class="table table-condensed">
        <tr ng-repeat="version in history | orderBy:'created':true" ng-class="active == version.id ? 'active' : ''">
          <td>
             {{version.author}}, {{version.name}},
            <span class="text-muted">{{version.created | date : 'medium'}}</span>
          </td>
        </tr>
      </table>
    </div>

</body>
</head>
