<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>EarSketch Autograder - Amazon Contest</title>

<base href="../">

<!--Could not get this to work with require-->
<script>
  var BUILD_NUM=322; //run "grunt update-version" to update release number
  var LAZY_SCRIPT_COMPILER = false;
  var USER_CLIENT_TS = false;
  var TS_QUICK_SEARCH = true;
  var CACHE_TS_RESULTS = true;
</script>
<script type="text/javascript" src="scripts/vendor/js-interpreter/acorn.js"></script>

<!-- Google Font -->
<link href='fonts/lato/lato.css' rel='stylesheet' type='text/css'>
<link href='fonts/roboto/roboto.css' rel='stylesheet' type='text/css'>
<link href='fonts/hack/css/hack.css' rel='stylesheet' type='text/css'>

<!-- vendor styles -->
<link rel="stylesheet" href="css/vendor/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/vendor/rzslider.min.css" />

<!-- Icon Moon -->
<link rel="stylesheet" href="fonts/icomoon_ultimate/style.css">

<!-- LESS -->
<link rel="stylesheet" type="text/css" href="css/earsketch/theme_light.css">


<meta http-equiv="content-type" content="text/html; charset=UTF8">

<style>
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
{
    display: none;
}

.container {
  width: 70%;
}
</style>

</head>
<body ng-controller="autograderAWSController" ng-cloak>
<script type="text/javascript" src="/curriculum/curr_toc.js"></script>
<script type="text/javascript" src="/curriculum/curr_pages.js"></script>
<script type="text/javascript" src="/curriculum/curr_searchdoc.js"></script>
  <div class="container">

      <h1>EarSketch Autograder</h1>
      <div class="panel panel-primary">
        <div class="panel-heading">
          Step 1: Paste share URLs
        </div>
        <div class="panel-body">
          <!-- <textarea class="form-control" rows="20" placeholder="One per line..." ng-model="urls"></textarea> -->
          <label>
            Artist name:
            <input type="text" id="artistName" ng-model="artistName" name="artistName" style="background: lightgray;">
            {{artistName}}
          </label>
          <label>
            Number of Unique Stems:
            <input type="text" id="uniqueStems" ng-model="uniqueStems" name="uniqueStems" style="background: lightgray;">
            {{uniqueStems}} stems.
          </label>
          <label>
            Length Requirement:
            <input type="text" id="lengthRequirement" ng-model="lengthRequirement" name="lengthRequirement" style="background: lightgray;">
            {{lengthRequirement}} seconds.
          </label>
          <label>
            Compleixity Requirement:
            <input type="text" id="complexityThreshold" ng-model="complexityThreshold" name="complexityThreshold" style="background: lightgray;">
            {{complexityThreshold}}
          </label>
          <input type="file" id="fileUpload" onchange="read(this)" multiple>
          <script type="text/javascript">
            const reader = new FileReader()

            function read(input) {
              const csv = input.files[0];
              reader.readAsText(csv);
            }

            reader.onload = function (e) {
              var outputStr = e.target.result;

              outputStr = outputStr + "\n";
              var outputList = outputStr.split("\n");

              var outputArr = [];
              var contestID = [];

              var scriptIdx = 16;
              
              for(var i = 1; i < outputList.length; i++){
                 var outputID = outputList[i].split(',')[scriptIdx];
                 if (outputID && outputID.length > 1) {
                  if (outputID[0] == "=") {
                    outputID = outputID.substr(1);
                  }
                  outputArr.push(outputID);
                  contestID.push(outputList[i].split(',')[0]);
                 }
               }

              document.querySelector('.output').innerText = outputArr;
              document.querySelector('.hiddenOutput').innerText = contestID;
            }
          </script>
          <div class="output"></div>
          <div class="hiddenOutput" style="height: 0px;"></div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" ng-click="run();" ng-hide="running">Run</button>
          <button class="btn btn-primary" ng-click="run();" ng-show="running" disabled><i class="spinner icon icon-spinner"></i> Run</button>
        </div>
      </div>
    </div>

    <div class="container" ng-if="results.length > 0">
      {{results.length}} valid results. {{music_passed.length}} passed music. {{code_passed.length}} passed code. {{music_code_passed.length}} passed both.
      <div class="panel panel-primary" ng-repeat="result in results">
        <div class="panel-heading">
          <b>{{result.script.username}}</b> ({{result.script.name}})
          <div class="pull-right">{{result.script.shareid}}</div>
        </div>
        <div class="panel-body text-danger" ng-if="result.error">
          <b>{{result.error.args.v[0].v}}</b> on line {{result.error.traceback[0].lineno}}
        </div>
        <div class="row" ng-if="result.reports" >
        <div class="col-md-6" ng-repeat="(name, report) in result.reports">
          <h3>{{name}}</h3>
          <table class="table">
            <tr ng-repeat="(key, value) in report">
              <th>{{key}}</th><td>{{value}}</td>
            </tr>
          </table>
        </div>
        </div>
      </div>
      </div>
    </div>
    <div class="container" ng-show="processing">
      <div class="alert alert-info">
        Processing script id: {{processing}}
      </div>
    </div>
    <div class="container" ng-hide="processing">
      <div class="alert alert-success">
        No scripts being processed!
      </div>
    </div>
    <div class="container" style="text-align:center" ng-if="results.length > 0">
      <button class="btn btn-lg btn-primary" ng-click="downloadAWS()"><i class="glyphicon glyphicon-download-alt"></i> Download Report</button>
    </div>
</body>