<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>EarSketch Autograder 3</title>

<base href="../">

<!--Could not get this to work with require-->
<script>
  var BUILD_NUM=322; //run "grunt update-version" to update release number
  var LAZY_SCRIPT_COMPILER = false;
  var USER_CLIENT_TS = false;
  var TS_QUICK_SEARCH = true;
  var CACHE_TS_RESULTS = true;
</script>
<script type="text/javascript" src="scripts/vendor/js-interpreter/acorn.js"></script>

<!-- Google Font -->
<link href='fonts/lato/lato.css' rel='stylesheet' type='text/css'>
<link href='fonts/roboto/roboto.css' rel='stylesheet' type='text/css'>
<link href='fonts/hack/css/hack.css' rel='stylesheet' type='text/css'>

<!-- vendor styles -->
<link rel="stylesheet" href="css/vendor/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/vendor/rzslider.min.css" />

<!-- Icon Moon -->
<link rel="stylesheet" href="fonts/icomoon_ultimate/style.css">

<!-- LESS -->
<link rel="stylesheet" type="text/css" href="css/earsketch/theme_light.css">


<meta http-equiv="content-type" content="text/html; charset=UTF8">

<style>
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
{
    display: none;
}

.container {
  width: 70%;
}
</style>

</head>
<body ng-controller="autograder3Controller" ng-cloak>
<script type="text/javascript" src="/curriculum/curr_toc.js"></script>
<script type="text/javascript" src="/curriculum/curr_pages.js"></script>
<script type="text/javascript" src="/curriculum/curr_searchdoc.js"></script>
  <div class="container">
    <h1>EarSketch Autograder 3</h1>

    <!-- <div class="alert alert-danger" role="alert" ng-show="compileError">{{compileError}}</div> -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        Step 1: Select Reporter Options
      </div>
      <div class="panel-body">
        <div class="col-md-4">
          <label>
            Code/Music Analysis Options:
          </label><br>
          <input type="checkbox" id="overview" name="overview" ng-click="setOption('OVERVIEW')" checked>
          <label for="overview"> OVERVIEW</label>
          <input type="checkbox" id="complexity" name="complexity" ng-click="setOption('COMPLEXITY')" checked>
          <label for="complexity"> COMPLEXITY</label>
          <input type="checkbox" id="effects" name="effects" ng-click="setOption('EFFECTS')">
          <label for="effects"> EFFECTS</label><br>
          <input type="checkbox" id="measureview" name="measureview" ng-click="setOption('MEASUREVIEW')">
          <label for="measureview"> MEASUREVIEW</label>
          <input type="checkbox" id="soundprofile" name="soundprofile" ng-click="setOption('SOUNDPROFILE')">
          <label for="soundprofile"> SOUND PROFILE</label><br>
          <input type="checkbox" id="mixing" name="mixing" ng-click="setOption('MIXING')">
          <label for="mixing"> MIXING</label><br>
          <input type="checkbox" id="history" name="history" ng-click="setOption('HISTORY')">
          <label for="history"> HISTORY</label>
          <input type="checkbox" id="apicalls" name="apicalls" ng-click="setOption('APICALLS')">
          <label for="apicalls"> API CALLS</label>
        </div>
        <div class="col-md-4">
          <h4>Random Seed</h4>
          <label>
            <input type="checkbox" ng-model="useSeed" ng-true-value="true" ng-false-value="false">
            Use the following random seed:
          </label>
          <input type="text" ng-model="seed"></input>
          <p class="small">
          This will automatically seed every random function in Python and JavaScript.
          </p>
          <p class="small">
          Disclaimer: Testing randomness is inherently difficult. Only use this in the most trivial of cases.
          </p>
        </div>
        <div class="col-md-4">
          <label>
            Warning:
          </label>
          This site uses login information from EarSketch, so make sure you are logged in on another tab or window.
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Step 2: Paste share URLs
        <button class="btn btn-primary" ng-click="changeInputMode();" ng-hide="csvInputMode">Switch to CSV Input</button>
        <button class="btn btn-primary" ng-click="changeInputMode();" ng-show="csvInputMode">Switch to Text Input</button>
      </div>
      <div class="panel-body">
        <div ng-hide="csvInputMode">
          <textarea class="form-control" rows="20" placeholder="One per line..." ng-model="urls"></textarea>
        </div>
        <div ng-show="csvInputMode">
          <input type="file" id="fileUpload" onchange="read(this)" multiple>
          <script type="text/javascript">
          const reader = new FileReader()

          function read(input) {
            const csv = input.files[0];
            reader.readAsText(csv);
          }

          reader.onload = function (e) {
            var outputStr = e.target.result;
            var outputList = outputStr.split("\n");

            var outputArr = [];
            
            for(var i = 1; i < outputList.length; i++){
               var outputID = outputList[i].split(',')[3];
               if (outputID && outputID.length > 1) {
                if (outputID[0] == "=") {
                  outputID = outputID.substr(1);
                }
                outputArr.push(outputID);
               }
             }
            document.querySelector('.output').innerText = outputArr;
          }
        </script>
        <div class="output"></div>
        <div class="hiddenOutput" style="height: 0px;"></div>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" ng-click="run();" ng-hide="processing">Run</button>
        <button class="btn btn-primary" ng-click="run();" ng-show="processing" disabled><i class="spinner icon icon-spinner"></i> Run</button>
      </div>
      </div>
    </div>

    <div class="container" ng-if="results.length > 0">
      <div class="panel panel-primary" ng-repeat="result in results track by $index">
        <div class="panel-heading">
          <b>{{result.script.username}}</b> ({{result.script.name}} version {{result.version}}) 
          <div class="pull-right">{{result.script.shareid}}</div>
        </div>
        <div class="panel-body text-danger" ng-if="result.error">
          <b>{{result.error.args.v[0].v}}</b> on line {{result.error.traceback[0].lineno}}
        </div>
        <div class="row" ng-if="result.reports" >
        <div class="col-md-6" ng-repeat="(name, report) in result.reports track by $index">
          <h3>{{name}}</h3>
          <table class="table">
            <tr ng-repeat="(key, value) in report track by $index">
              <th>{{key}}</th><td>{{value}}</td>
            </tr>
          </table>
        </div>
        </div>
      </div>
      </div>
    </div>
    <div class="container" ng-show="processing">
      <div class="alert alert-info">
        Processing script id: {{processing}}
      </div>
    </div>
    <div class="container" ng-hide="processing">
      <div class="alert alert-success">
        No scripts being processed!
      </div>
    </div>
    <div class="container" style="text-align:center" ng-if="results.length > 0">
      <button class="btn btn-lg btn-primary" ng-click="downloadCSV()"><i class="glyphicon glyphicon-download-alt"></i> Download Report</button>
    </div>
</body>