<div class="modal-header" >
    <h4 class="modal-title">
        Admin Window
    </h4>
</div>
<div id="admin-window" class="modal-body transparent">
   
   <!--  <div class="alert alert-danger" ng-show="uploadError">
        {{uploadError}}
    </div> -->

    <div>
        <div class="modal-section-header">
            <span>Username</span>
            <span>Role</span>
        </div>

        <div class="users-container">
            <div ng-repeat="user in users | orderBy: ['role','username'] track by $index" class="modal-section-body">
                <div class="row">
                    <div class="col-md-6 username-col">
                        {{user.username}}
                    </div>
                    <div class="col-md-6 role-col">
                        <span ng-class="user.role">{{user.role}}
                            <span class="remove-role" ng-hide="user.username === loggedInUser"><i ng-click="removeRole(user.username,user.role)" title="Remove role" class="icon icon-cross2"></i></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        
        <div class="row add-role" >
            <input type="text" placeholder="username" class="form-control shake col-md-6" ng-model="newuser" ng-change="">
            <div class="btn-group col-md-3" uib-dropdown auto-close="outsideClick">
                <button type="button" class="btn btn-filter dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{selectedRole}}<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="caret" style="right:10px;"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="r in roles">
                        <a href="#" ng-click="changeSelectedRole(r)">
                            <div class="item">
                                <div>
                                    {{::r}}
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <a class="col-md-3 add-role-button" ng-click="addRole()">ADD ROLE</a>
        </div>

        <hr>

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <textarea style="width: 60%" class="form-control" type="text" maxlength="500" placeholder="Type new broadcast message (500 characters max)" ng-model="broadcastMessage"></textarea>
            <div style="width: 38%">
                <input type="text" placeholder="Hyperlink (optional)" ng-model="broadcastLink" style="width: 100%"/><br>
                Expiration: <input type="text" placeholder="0" style="width: 15%;" ng-model="broadcastExpiration"/> days
            </div>
            <a class="buttonmodal" ng-click="sendBroadcast()">BROADCAST</a>
        </div>

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <textarea style="width: 60%" class="form-control" type="text" maxlength="500" placeholder="Broadcast message to teachers (500 characters max)" ng-model="broadcasts.teachers.message"></textarea>
            <div style="width: 38%">
                <input type="text" placeholder="Hyperlink (optional)" ng-model="broadcasts.teachers.link" style="width: 100%"/><br>
                Expiration: <input type="text" placeholder="0" style="width: 15%;" ng-model="broadcasts.teachers.expiration"/> days
            </div>
            <a class="buttonmodal" ng-click="sendTeacherBroadcast()">BROADCAST</a>
        </div>

        <hr>
        <div class="row">
            <div>Admin password reset for user</div>
            <div>
                <input type="text" placeholder="username" ng-model="userToReset.id" ng-blur="queryId()" ng-keydown="callQueryId($event)"/>
                <a class="buttonmodal" style="cursor:pointer" ng-click="queryId()">SEARCH USER</a>
            </div>
            <div ng-show="userToReset.exists">
                User ID: {{userToReset.id}} <br>
                Name: {{userToReset.name}} <br>
                Email: {{userToReset.email}} <br>
            </div>
            <div ng-show="userToReset.exists">
                <br><p>Fill the admin passphrase (not the login password), then fill a new password for the user.</p>
                <input type="text" placeholder="admin passphrase" ng-model="adminPassphrase"/>
                <input type="text" placeholder="new user password" ng-model="userToReset.newPassword" ng-keydown="callSetNewPassword($event)"/>
                <a class="buttonmodel" style="cursor:pointer" ng-click="setNewPasswordForUser()">SET NEW PASSWORD</a>
                <div ng-if="showPasswordResetResult">
                    <br>
                    {{passwordResetResult}}
                </div>
            </div>
        </div>
    </div>  
</div>

<div class="modal-footer">
    <a class="closemodal buttonmodal" ng-click="cancel()"><span><i class="icon icon-cross2"></i></span>CLOSE</a>
</div>


