<div class="api-browser-container sidebar-inner ui-layout-center" role="navigation">
    <a id="top" href=""></a>
    <div class="sb-upload">
        <div class="api-browser" id="api-browser">
            <div class="header panel-label">
                <i class="icon icon-api-browser"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i> API Browser
            </div>

            <div class="search panel-label">
                <i class="icon icon-search browser-icon-search"></i>
                <form>
                    <input ng-model="apisearch" type="text" size="200" class="search-bar" placeholder="Search for an API here">
                </form>
                <button id="search-reset" class="btn btn-xs btn-primary" ng-click="apisearch=''" ng-show="apisearch.length > 0">X</button>
            </div>

            <div class="sub-header pull-left panel-label">
                <i class="icon icon-api-icon"></i>
                <span>API List</span>
            </div>

            <div ng-repeat="(key, obj) in apiList" ng-if="key.toLowerCase().indexOf(apisearch.toLowerCase()) > -1 && checkLangSpecific(key)" >
                <div id="api-{{key}}" ng-init="arr = isArray(obj) ? obj : [obj]">
                    <div class="api-browser item" ng-repeat="obj in arr" ng-init="obj.details = false">
                        <div class="api-browser name">
                            <span class="api-browser item-label" ng-click="obj.details = !obj.details;">
                                <mark class="api-browser title highlighted" ng-if="highlight == key" title="Returns: ({{obj.returns.type}}) - {{obj.returns.description}}">{{key}}(</mark>
                                <span class="api-browser title not-highlighted" ng-if="highlight != key" title="Returns: ({{obj.returns.type}}) - {{obj.returns.description}}">{{key}}</span>
                                <br>
                                <div class="no-params" ng-if="!obj.parameters">
                                    <span class="api-browser arguments">No Parameters</span>
                                </div>
                                <div ng-if="obj.parameters">
                                <span class="api-browser marks parens">(</span>
                                <span ng-repeat="param in getKeys(obj.parameters)" ng-init="paramVal = obj.parameters[param]">
                                    <span class="api-browser arguments" title="{{param}} ({{paramVal.type}}) - {{paramVal.description}}">{{param}}</span>
                                    <span ng-if="paramVal.hasOwnProperty('default')">
                                        <span class="api-browser marks">=</span>
                                        <span class="api-browser default-arg">{{paramVal.default}}</span>
                                    </span>
                                <span class="api-browser marks" ng-if="$index !== countNumProperties(obj.parameters)-1">, </span>
                                </span>
                                <span class="api-browser marks parens">)</span>
                                </div>
                            </span>
                            <span class="detail-button" ng-click="obj.details = !obj.details;">
                                <i class="icon icon-eye btn-action" ng-if="!obj.details"></i>
                                <i class="icon icon-eye-blocked btn-action" ng-if="obj.details"></i>
                            </span>
                            <span class="paste-button" ng-click="paste(key, obj)"><i class="icon icon-paste2 btn-action"></i></span>
                        </div>

                        <!-- API description -->
                        <div ng-if="obj.details" class="api-browser description general"><span ng-bind-html="toHtml(obj.description)"></span></div>

                        <div class="api-browser details-container" ng-if="obj.details">
                            <div class="api-browser parameters" ng-if="obj.parameters">
                                <div class="api-browser title">Parameters:</div>
                                <div ng-repeat="param in getKeys(obj.parameters)" ng-init="paramVal = obj.parameters[param]">
                                    <div class="api-browser parameters-inner">
                                        <span class="api-browser title">{{param}}</span>
                                        <span class="api-browser marks">:&nbsp;</span>
                                        <span class="api-browser arguments" >{{paramVal.type}}</span>

                                        <!-- rhythmEffects parameter description has a link to curriculum -->
                                        <div class="api-browser description"><span ng-bind-html="toHtml(paramVal.description)"></span></div>
                                        
                                        <div ng-if="paramVal.default">
                                            <span class="api-browser description">Default value</span>
                                            <span class="api-browser marks">:&nbsp;</span>
                                            <span class="api-browser default">{{paramVal.default}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="api-browser returns-container" ng-if="obj.returns">
                                <div class="api-browser title">Returns:</div>
                                <div class="api-browser returns">
                                    <span class="api-browser arguments">{{obj.returns.type}}</span><br>
                                    <span class="api-browser description">{{obj.returns.description}}</span>
                                </div>
                            </div>
                            <div class="api-browser example-container">
                                <div class="api-browser title">Example:</div>
                                <div>
                                    <span ng-if="currentLanguage === 'python'">
                                        <!-- note: don't indent the tags inside pre's! it will affect the styling -->
                                        <pre class="api-code"><code highlight class="python" ng-bind-html="toHtml(obj.example.python)"></code></pre>
                                    </span>
                                    <span ng-if="currentLanguage === 'javascript'">
                                        <pre class="api-code"><code highlight class="javascript" ng-bind-html="toHtml(obj.example.javascript)"></code></pre>
                                    </span>
                                </div>
                            </div>
                            <div ng-if="obj.expert">
                                <div>Expert Description:</div>
                                <div class="api-browser description">{{obj.expert}}</div>
                            </div>

                            <div ng-if="obj.caveats">
                                <div>Caveats:</div>
                                <div class="api-browser description">{{obj.caveats}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>