<!-- #517 MODELED on createAccount.js, modified for changePassword.js
Note, ATTENTION, LOOK at the code for questions on how ng-model wants it's variables names, as done here, or revert to the
copy of createAccount.js?
 VARIABLE names change madi in both this module (change-password.html, and in changepasswordController.js -->

<div id="overlay">
    <div >
        <!--<p>Content you want the user to see goes here.</p>  -->
        <!-- ** borrowed from create an account html page   -->

        <div class="modal-header">
            <h3 >Change Password  </h3>
        </div>
        <div class="modal-body">

            <form ng-app>
                <div class="alert alert-danger" ng-show="pwError.length!==0">
                    {{pwError}}
                </div>
                <div class="row">
                    <div class='col-md-6'>
                        <div class="form-group">
                            <!--#517 - add new name "old-password"  Add new names also to ChangePasswordController.js -->
                            <input type="password" class="form-control" name="oldpassword" placeholder="Old Password" ng-model="oldpassword" required ng-keydown="enterSubmit($event)"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- change column to 12 to allow for longer password-->
                    <!-- ATTENTION:  will ng-model allow for a new variable for the new password 1, same quesstion for new password 2 below Have assumed so and inserted the new -->
                    <div class='col-md-6'>
                        <div class="form-group">
                            <input type="password" class="form-control" name="newpassword1" placeholder="New Password" ng-model="newpassword" required ng-keydown="enterSubmit($event)"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class='col-md-6'>
                        <div class="form-group">
                            <input type="password" class="form-control" name="newpassword2" placeholder="Type new password again. " ng-model="passwordconfirm" required ng-keydown="enterSubmit($event)"/>
                        </div>
                    </div>
                </div>
            </form>

            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" ng-click="submitUser()">Change Password</button>
            </div>

            <!-- ** end borrowed from create an account html page   -->
        </div>
    </div>
</div>