<div id="chat-header">
    <div id="chatroom-title">
        <div>
            Chat room for <span id="chat-script-name">{{chatroomName}}</span>
        </div>
        <div>
            Collaborators: {{collaborators.join(', ')}}
        </div>
    </div>
</div>
<div id="chat-body">
    <div class="chat-message-container" ng-repeat="message in messageList track by $index">
        <div class="chat-message" ng-style="senderIsUser(message) ? messageStyles.sender : messageStyles.collaborator">
            <div class="chat-message-bubble" ng-style="senderIsUser(message) ? messageBubbleStyles.sender : messageBubbleStyles.collaborator">
                <div class="chat-message-sender">{{userIsCAI(message.sender) ? "CAI" : message.sender}}</div>
                <div class="chat-message-text" ng-style="selectBubbleStyles(message)">{{message.text}}</div>
            </div>
            <div class="chat-message-date" ng-style="senderIsUser(message) ? messageDateStyles.sender : messageDateStyles.collaborator">
                {{calcDate(message) | formatTimer}}
            </div>
        </div>
    </div>
</div>
<div id="chat-footer">
    <div id="chat-input-container">
        <textarea id="chat-input-textarea" ng-model="inputText" ng-keydown="enterSubmit($event)" placeholder="Enter your message" rows="1"></textarea>
    </div>
    <div id="chat-input-sendbutton">
        <button ng-click="sendMessage()">Send</button>
    </div>
</div>