<!-- TODO: using parent (ideController) scope... cannot isolate them well -->
<div id="editor" class="code-container">
    <!-- import button -->
    <div ng-show="activeScript.readonly && !isEmbedded" class="floating-bar" ng-click="importScript()">
        <div><!-- DO NOT REMOVE: this is an empty div to block the space before the next div --></div>
        <div class="btn-action btn-floating shake" ng-class="{'notAllowedTo':notAllowedToImport, '':!notAllowedToAddSound}"><i class="icon icon-import"></i><span>IMPORT TO EDIT</span></div>
    </div>
</div>

<!-- Note: activeScript managed in ideController and tabState -->
<div id="collab-badges-container" ng-if="activeScript.collaborative">
    <div ng-repeat="(name, state) in collaboration.otherMembers track by $index">
        <div class="collaborator-badge prevent-selection" ng-style="{'border-color':state.active?'rgba('+collaboration.colors[$index%6].join()+',0.75)':'#666','background-color':state.active?'rgba('+collaboration.colors[$index%6].join()+',0.5)':'#666'}" uib-tooltip="{{name}}" tooltip-placement="left" uib-popover="{{collaboration.chat[name].text}}" popover-placement="left" popover-is-open="collaboration.chat[name].popover" popover-trigger="'none'">{{name[0].toUpperCase()}}</div>
    </div>
</div>