<div class="modal-header">
    <h4 class="modal-title">
        Create a new script
    </h4>
</div>
<div class="modal-body">

        <div class="alert alert-danger" ng-show="error">
            {{error}}
        </div>
    <div class="row">
        <div class="col-md-6">
        <div class="form-group">
            <label>Script name</label>
            <p class="small">What should we call your script?</p>
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
            <label>Script language</label>
            <p class="small">What programming language are you using?</p>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="input-group">
                    <input class="form-control" focus tabindex="1" autocomplete="off" id="newscriptname" ng-model="name" ng-keydown="enterKeySubmit($event)">
                    <div class="input-group-addon">{{extension}}</div>
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <select class="form-control" ng-model="extension" focus tabindex="2">
                <option value=".py">Python</option>
                <option value=".js">JavaScript</option>
            </select>
        </div>
    </div>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="confirm()" focus tabindex="3">Create</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
