<div class="modal-header">
  <h3>Create an account</h3>
</div>


<form name="userForm" ui-keypress="{13:'submitUser()'}" ng-app>
  <div class="modal-body">

    <div class="alert alert-danger" ng-show="error">
      {{error}}
    </div>

    <div class="row">
      <div class='col-md-12'>
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="Username" ng-model="username" required />
        </div>
      </div>
    </div>

    <div class="row">
      <div class='col-md-6'>
        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password" ng-model="password" required />
        </div>
      </div>

      <div class='col-md-6'>
        <div class="form-group">
          <input type="password" class="form-control" name="passwordconfirm" placeholder="Confirm Password" ng-model="passwordconfirm" required />
        </div>
      </div>
    </div>

    <div class="row">
      <div class='col-md-12'>
        <div class="form-group">
          <input type="email" class="form-control" name="email" placeholder="E-mail Address (Optional)" ng-model="email" />
        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <span ng-click="cancel()"><a href="#" style="color:#d04f4d;margin-right:14px;"><i class="icon icon-cross2"></i>CANCEL</a></span>
    <!-- <button class="btn btn-warning" ng-click="cancel()">Cancel</button> -->
    <span ng-click="submitUser()" style="color:#337ab7;"><a href="#"><i class="icon icon-checkmark"></i>CREATE ACCOUNT</a></span>

  </div>
</form> 

