<div class="input-group" style="width:100%; padding-left:18px;">
	<form>
		<i class="icon icon-search browser-icon-search"></i>
		<input type="search" autocomplete="off" name="Search" placeholder="Search" class="search-bar ng-pristine ng-untouched ng-valid" style="height:2em;" ng-model="query" ng-click="recallResults()">
	</form>
	<button id="search-clear" class="btn btn-xs btn-primary" style="position:absolute; right:-10px;top:2px; width:27px;" ng-click="query=''">X</button>
</div>
<div class="curriculum-search-results">
	<div ng-repeat="result in results">
		<a href="#" ng-click="loadChapter(result.id); closeSearchResults();">
			<div class="search-item">
				<span>{{result.title}}</span>
			</div>
		</a>
	</div>
</div>