<div class="dawTrackContainer" ng-style="{'height': trackHeight + 'px'}">
    <!-- <div class="dawTrackCtrl" ng-style="{'left': horzScrollPos + 'px'}"> -->
    <div track-panel-position>
        <div class="dawTrackName prevent-selection">{{track.label}}</div>
        <button class="btn btn-default btn-xs dawSoloButton" ng-class="track.solo ? 'active' : ''" ng-click="toggleSolo()" ng-show="track.buttons" title="Solo">
            S
        </button>
        <button class="btn btn-default btn-xs dawMuteButton" ng-class="track.mute ? 'active' : ''" ng-click="toggleMute()" ng-show="track.buttons" title="Mute">
            M
        </button>
        <div class="dropdown dawTrackEffectDropdown" ng-show="track.effects.length > 0">
            <div class="dropdown-toggle dawTrackEffectDropdownButton hidden" role="button" data-toggle="dropdown">
                &#x25BC
            </div>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="(key, effect) in track.effects" role="presentation">
                    <a href="#" ng-click="effect.visible = !effect.visible">{{key}} <span ng-show="effect.visible">&#x2714</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="daw-track" ng-class="{'muted':track.mute, 'solo':track.solo}" ng-mousedown="startDrag($event)" ng-mouseup="endDrag($event)" ng-mousemove="drag($event)">
        <div ng-repeat="(clipNum, clip) in track.clips" ng-class="clip.loopChild ? 'loop' : ''" class="dawAudioClipContainer" ng-style="{'background':trackColors[trackNum]}" daw-clip>
            <div class="clipWrapper">
                <div class="clipName prevent-selection" daw-clip-name>{{clip.filekey}}</div>
                <canvas></canvas>
            </div>
        </div>
    </div>
</div>
<div id="dawTrackEffectContainer" ng-repeat="(key, effect) in track.effects track by $index" ng-show="effect.visible" ng-style="{'height': trackHeight + 'px'}">
    <!-- <div class="dawEffectCtrl" ng-style="{'left': horzScrollPos + 'px'}"> -->
    <div track-effect-panel-position>
        <div class="dawTrackName"></div>
        <div class="dawTrackEffectName">Effect {{$index+1}}</div>
        <button class="btn btn-default btn-xs dawEffectBypassButton" ng-click="toggleBypass()" ng-disabled="track.mute" ng-class="effect.bypass ? 'active' : ''">
            Bypass
        </button>
    </div>
    <div class="dawTrackEffect" ng-class="effect.bypass || track.mute ? 'bypassed' : ''" ng-style="{'background':trackColors[trackNum]}" daw-effect>
        <div class="clipName">{{key}}</div>
        <svg class="effectAxis">
            <g></g>
        </svg>
        <svg class="effectSvg">
            <path></path>
        </svg>
    </div>
</div>
