<div ng-show="isEmbedded && codeHidden" style="display: block;" class="embedded-script-info"> Script {{embeddedScriptName}} by {{embeddedScriptUsername}}</div>
<div id="dawHeader" width-exceeded>
    <!--TODO: don't use bootstrap classes-->
    <!-- DAW Label -->
    <div class="btn-group" id="daw-label">
        <span class="panel-label"><span class="icon icon-DAW-Icon" ng-show="showIcon"></span><span ng-show="showFullTitle">Digital Audio Workstation</span><span ng-show="showShortTitle">DAW</span></span>
    </div>
    <div ng-show="isEmbedded" >
        <a target="_blank" ng-href="{{shareScriptLink}}"> Click Here to view in EarSketch </a>
    </div>
    <!-- Transport Buttons -->
    <div class="daw-transport-container">
        <!-- Beginning -->
        <span class="daw-transport-button">
            <button type="submit" class="btn btn-clear" data-toggle="tooltip" data-placement="bottom" title="Reset" ng-click="reset()">
                <span class="icon icon-first"></span>
            </button>
        </span>

        <span id="daw-play-button" uib-popover-html="getPopoverContent('play')" popover-placement="bottom" popover-is-open="showDAWKeyShortcuts" popover-animation="true" popover-trigger="'none'">
            <!-- Play -->
            <span class="daw-transport-button" ng-hide="playing">
                <button type="submit" class="btn btn-play btn-clear" title="Play" ng-click="play();">
                    <span class="icon icon-play4"></span>
                </button>
            </span>

                <!-- Pause -->
            <span class="daw-transport-button" ng-show="playing">
                <button type="submit" class="btn btn-clear" title="Pause" ng-click="pause(true);">
                    <span class="icon icon-pause2"></span>
                </button>
            </span>
        </span>


        <!-- Loop -->
        <span class="daw-transport-button">
            <button type="submit" class="btn btn-clear" ng-class="loop.on ? 'btn-clear-warning' : ''" data-toggle="tooltip" data-placement="bottom" title="Loop Project" ng-click="toggleLoop();">
                <span class="icon icon-loop"></span>
            </button>
        </span>

        <!-- Follow through -->
        <span class="daw-transport-button follow-icon" ng-show="horzOverflow">
            <button type="submit" class="btn btn-clear" ng-class="autoScroll ? 'btn-clear-warning' : ''" data-toggle="tooltip" data-placement="bottom" title="Auto-scroll to follow the playback" ng-click="autoScroll = !autoScroll">
                <span class="icon icon-move-up"></span>
            </button>
        </span>

        <!-- Metronome -->
        <span class="daw-transport-button">
            <button id="dawMetronomeButton" class="btn btn-clear" ng-class="!metronome.mute ? 'btn-clear-warning':''" data-toggle="tooltip" title="Toggle Metronome" data-placement="bottom" ng-click="toggleMetronome()">
                <span class="icon icon-meter3"></span>
            </button>
        </span>

        <!-- Time Sync -->
        <span class="daw-transport-button" ng-show="timesync.available">
            <button id="dawTimesyncButton" class="btn btn-clear" ng-class="timesyncEnabled ? 'btn-clear-warning':''" data-toggle="tooltip" title="Play together" data-placement="bottom" ng-click="toggleTimesync()">
                <span class="icon icon-link"></span>
            </button>
        </span>

        <!--Volume Control -->
        <span class="daw-transport-button" id="volume-control">
            <span ng-click="toggleMute()">
                <button id="muteButton" class="btn btn-clear" style="width:40px" title="Toggle Volume" data-toggle="tooltip" data-placement="bottom">
                    <span class="icon icon-volume-high" ng-show="!volumeMuted"></span>
                    <span class="icon icon-volume-mute" ng-show="volumeMuted"></span>
                </button>
            </span>
            <span class="daw-transport-button">
                <input id="dawVolumeSlider" type="range" min="-20" max="0" value="0" ng-model="volume" ng-change="changeVolume()" />
            </span>
        </span>
    </div>
</div>


<div ng-show="result && !hideDaw">
    <div id="zoom-container" ng-style="dynamicStyle()" size-changed>

        <!-- Effects Toggle -->
        <button type="submit" class="btn btn-primary btn-effect" data-toggle="tooltip" data-placement="bottom" title="Toggle All Effects" ng-click="toggleEffects()" ng-disabled="!hasEffects()">
        <span>EFFECTS</span>
        <span class="icon icon-eye-blocked" ng-show="hasInvisibleEffects()"></span>
        <span class="icon icon-eye" ng-hide="hasInvisibleEffects()"></span>
        </button>

        <!-- Vertical Zoom Slider-->
        <div id="vert-zoom-slider-container">
            <span class="zoom-out">-</span>
            <rzslider rz-slider-model="vertSlider.value" rz-slider-options="vertSlider.options" title="Slide to change track height"></rzslider>
            <span class="zoom-in">+</span>
        </div>  

        <!-- Horizontal Zoom Slider-->
        <div id="horz-zoom-slider-container">
            <span class="zoom-out">-</span>
            <rzslider rz-slider-model="horzSlider.value" rz-slider-options="horzSlider.options" title="Slide to zoom-in/out"></rzslider>
            <span class="zoom-in">+</span>
        </div>        

        <!-- DAW Container -->
        <div id="daw-container" daw-container>
            <div id="daw-main">
                <div id="daw-clickable" ng-mousedown="startDrag($event)" ng-mouseup="endDrag($event)" ng-mousemove="drag($event)">
                    <!-- Timescales -->
                    <div id="daw-timeline" daw-timeline></div>
                    <div id="daw-measureline" daw-measureline></div>

                    <daw-play-head></daw-play-head>
                    <daw-sched-playhead></daw-sched-playhead>
                    <daw-cursor></daw-cursor>
                    <daw-highlight ng-if="((dragging || loop.selection && loop.on) && loop.end != loop.start)" ng-style="{'width':xScale(Math.abs(loop.end - loop.start) + 1) + 'px', 'top': vertScrollPos, 'left':xScale(Math.min(loop.start, loop.end))}"></daw-highlight>
                </div>

                <div class="daw-track-group-container">
                    <div ng-repeat="(trackNum, track) in tracks" ng-if="$index == 0" ng-show="track.visible" daw-mix-track>
                    </div>
                    <div ng-repeat="(trackNum, track) in tracks" ng-if="$index > 0 && $index < tracks.length-1" ng-show="track.visible" daw-track>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
