<div class="modal-header">
    <h4 class="modal-title">
        <i class="icon icon-cloud-download" ></i>&nbsp;Download Teaching Materials
    </h4>
</div>
<div class="modal-body">
    <div class="alert alert-danger" ng-show="error">
        {{error}}
    </div>
    <div class="vert-offset-bottom-8">
        <input class="form-control" ng-model="keypass" type="password" autocomplete="off" placeholder="Enter password here" ng-keydown="enterSubmit($event)">
    </div>
</div>
<div class="modal-footer">
    <button id="downloadTeachingMaterials" class="btn btn-primary" ng-click="download()">Download</button>
  	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>