<div class="modal-body download">
    <div ng-if="!meta.isSafari" ng-click="cancel()" class="btn btn-warning">
        <a href="{{data.path}}" download="{{data.name}}" target="_blank" class="ng-binding">
            <i class="glyphicon glyphicon-download-alt"></i> Download {{data.name}}
        </a>
    </div>
    <div ng-if="meta.isSafari" ng-click="meta.dataUrlDl(data); cancel();" class="btn btn-warning">
        <i class="glyphicon glyphicon-download-alt"></i> Download Zip File
    </div>
    <div class="modal-footer" style="text-align:center">
        Please click above to begin your download
        <div ng-if="meta.isSafari"><br>{{safariMessage}}</div>
    </div>
</div>