<div class="modal-header">
    <h4 class="modal-title">
        <i class="icon icon-cloud-download" ></i>&nbsp;Download&nbsp;"{{scriptName}}"
    </h4>
</div>
<div class="modal-body" style="text-align: center;">
    <div class="row vertical-center">
        <div class="col-md-2">
            <h3><i class="icon icon-file-xml2"></i></h3>
            <h4>Script</h4>
        </div>
        <div class="col-md-2">
            <h3><a href="#" ng-click="saveToLocal()"><i class="glyphicon glyphicon-download-alt"></i></a></h3>
        </div>
        <div class="col-md-8">
            <div>{{messages.script}}</div>
        </div>
    </div>
    <div class="row vertical-center">
        <div class="col-md-2">
            <h3><i class="glyphicon glyphicon-music"></i></h3>
            <h4>WAV</h4>
        </div>
        <div class="col-md-2">
            <h3><a href="#" ng-click="saveWAV()"><i class="glyphicon glyphicon-download-alt"></i></a></h3>
        </div>
        <div class="col-md-8">
            <div>{{messages.wav}}</div>
        </div>
    </div>
    <div class="row vertical-center">
        <div class="col-md-2">
            <h3><i class="glyphicon glyphicon-headphones"></i></h3>
            <h4>MP3</h4>
        </div>
        <div class="col-md-2">
            <h3><a href="#" ng-click="saveMP3()"><i class="glyphicon glyphicon-download-alt"></i></a></h3>
        </div>
        <div class="col-md-8">
            <div>{{messages.mp3}}</div>
        </div>
    </div>
    <div class="row vertical-center" ng-if="!isSafari">
        <div class="col-md-2">
            <h3><i class="glyphicon glyphicon-share"></i></h3>
            <h4>Multi Track</h4>
        </div>
        <div class="col-md-2">
            <h3><a href="#" ng-click="saveMultiTrack()"><i class="glyphicon glyphicon-download-alt"></i></a></h3>
        </div>
        <div class="col-md-8">
            <div>{{messages.multitrack}}</div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">Close</button>
</div>
