<div class="modal-header">
    <h3>Edit Profile for {{username}} ({{userrole}})</h3>
</div>


<form name="userForm" ui-keypress="{13:'submitUser()'}" ng-app>
    <div class="modal-body">
        <div class="alert alert-danger" ng-show="error">
            {{error}}
        </div>

        <div ng-if="!optional" style="display: flex; justify-content: center; height: 2.5em;">{{infoRequiredMessage}}</div>

        <div class="row" ng-show="userrole !== 'student'">
            <div class='col-md-6'>
                <div class="form-group">
                    <input type="text" class="form-control" id="key" name="firstname" placeholder="First Name {{optional ? '(Optional)' : ''}}" ng-model="firstname" ng-keydown="enterSubmit($event)"/>
                </div>
            </div>
            <div class='col-md-6'>
                <div class="form-group">
                    <input type="text" class="form-control" name="lastname" placeholder="Last Name {{optional ? '(Optional)' : ''}}" ng-model="lastname" ng-keydown="enterSubmit($event)"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class='col-md-12'>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="E-mail Address {{optional ? '(Optional)' : ''}}" ng-model="email" ng-keydown="enterSubmit($event)"/>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <span ng-click="openChangePasswordModal()" style="float: left;"><a href="#">CHANGE PASSWORD</a></span>
        <span ng-click="cancelEditProfile()"><a href="#" style="color:#d04f4d;margin-right:14px;"><i class="icon icon-cross2"></i>CANCEL</a></span>
        <span ng-click="updateProfile()" style="color:#337ab7;"><a href="#"><i class="icon icon-checkmark"></i>UPDATE</a></span>

    </div>
</form>