<div class="modal-header">
    <h3>Forgot your password?</h3>
</div>
<div class="modal-body">
<form novalidate class="css-form">
  <h5>Please enter the e-mail associated with your account</h5>
  <div class="row">
    <div class='col-md-12'>
      <div class="form-group controls" ng-class="{true: 'error'}[form.email.$error.email || (submitted && form.email.$error.required)]">
        <input type="email" class="form-control" name="email" ng-model="email" placeholder="E-mail" required autocomplete="off" />
        <span class="help-inline" ng-show="submitted && form.email.$error.required">Required</span>
        <span class="help-inline" ng-show="form.email.$error.email">Invalid email</span>
      </div>
    </div>
  </div>  
</form>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="submitted=true;submitPassRequest()">Recover</button>
</div>