<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EarSketch</title>

    <!-- Suppress favicon error -->
    <link rel="shortcut icon" href="#">

    <!-- Angular UI Layout -->
    <link rel="stylesheet" type="text/css" href="scripts/lib/ui-layout.css">

    <!-- Google Font -->
    <link rel="stylesheet" type="text/css" href="fonts/lato/lato.css">
    <link rel="stylesheet" type="text/css" href="fonts/roboto/roboto.css">
    <link rel="stylesheet" type="text/css" href="fonts/hack/css/hack.css">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap-glyphicons.css">

    <!-- Icon Moon -->
    <link rel="stylesheet" type="text/css" href="fonts/icomoon_ultimate/style.css">

    <!-- highlight js style -->
    <link rel="stylesheet" type="text/css" href="scripts/lib/jsdifflib/diffview.css">

    <link rel="stylesheet" type="text/css" href="css/vendor/colpick.css" />

    <!-- LESS -->
    <link rel="stylesheet" type="text/css" href="css/earsketch/allstyles.css">

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="google-site-verification" content="ojwZ1r7MVOTRWsiqPITqwmhCOUou2CcqxRMG6itoci4"/>
</head>
<body ng-controller="mainController as mainCtrl" ng-init="init()" ng-keydown="keydownES($event)">
<!--<div id="root"></div>-->
<!--<root-component/>-->

<!-- dynamically set the color theme -->
<link rel="stylesheet" type="text/css" ng-href="css/earsketch/theme_{{colorTheme}}.css">

<!-- highlight js style -->
<link rel="stylesheet" type="text/css" ng-href="scripts/lib/highlightjs/styles/{{hljsTheme}}.css">

<div id="screen" class="loader">
    <br/><br/><br/><br/><br/><br/>
    <div class="text-5xl text-center pb-16" style="font-size: 3rem; padding-bottom: 4rem;">Loading EarSketch...</div>
    <div class="loading-spinner"></div>
</div>
<script>
    // white loading screen -- since angular is loaded much later, CSS file swapping will be too late to change the color of the loading screen
    if (localStorage['colorTheme'] === 'light') {
        document.getElementsByClassName('loader')[0].style['background-color'] = '#EFEFEF';
        document.getElementsByClassName('loader')[0].style['color'] = '#4e4e4e';
        document.body.style['background-color'] = '#EFEFEF'
    } else {
        document.body.style['background-color'] = '#000000'
    }
</script>

<script type="text/javascript" src="/curriculum/curr_toc.js"></script>
<script type="text/javascript" src="/curriculum/curr_pages.js"></script>
<script type="text/javascript" src="/curriculum/curr_searchdoc.js"></script>

<div id="notification-history" ng-show="showNotificationHistory">
    <div style="padding:1em; display:flex; justify-content:space-between;">
        <div>
            <a href="#" ng-click="toggleNotificationHistory(false)">
                <i id="back-button" class="icon icon-arrow-right22"></i>
            </a>
            <span style="color:grey;">
                <i class="icon icon-bell"></i> Notifications
            </span>
        </div>
        <div>
            <a style="color:#d04f4d; cursor:pointer;" class="closemodal buttonmodal" ng-click="toggleNotificationHistory(false)"><span><i class="icon icon-cross2"></i></span>CLOSE</a>
        </div>
    </div>

    <div class="notification-type-header">Pinned Notifications</div>
    <div ng-repeat="item in notificationList track by $index" ng-if="item.notification_type === 'broadcast' || item.notification_type === 'teacher_broadcast'">
        <div style="margin:10px 20px;">
            <div style="display:flex; align-items:center; float:left; margin: 10px; margin-left: 0;">
                <div><i class="icon icon-pushpin"></i></div>
            </div>
            <div style="display:flex; justify-content:space-between;">
                <div>
                    <div>
                        {{item.message.text}}
                    </div>
                    <div style="font-size:10px; color:grey;">
                        {{currentTime - item.time | formatTimer}}
                    </div>
                </div>
                <div ng-if="!!item.message.hyperlink">
                    <a ng-href="{{item.message.hyperlink}}" target="_blank" style="cursor:pointer;">MORE</a>
                </div>
            </div>
        </div>
        <hr style="margin:10px 20px; border: solid 1px dimgrey;" ng-show="$index < notificationList.length-1">
    </div>

    <div class="notification-type-header" style="display:flex; justify-content:space-between;">
        <div>Other Notifications</div>
        <div><a href="#" ng-click="markAllAsRead()">MARK ALL AS READ</a></div>
    </div>
    <div ng-repeat="item in notificationList track by $index" ng-if="item.notification_type !== 'broadcast' && item.notification_type !== 'teacher_broadcast'">
        <div style="margin:10px 20px; cursor:pointer;" ng-click="readMessage($index, item)">
            <div style="display:flex; align-items:center; float:left; margin: 10px; margin-left: 0;">
                <div class="marker" ng-show="item.unread"></div>
                <div class="empty-marker" ng-hide="item.unread"></div>
            </div>
            <div style="display:flex; justify-content:space-between;">
                <div>
                    <div>
                        {{item.message.text}}
                    </div>
                    <div style="font-size:10px; color:grey;">
                        {{currentTime - item.time | formatTimer}}
                    </div>
                </div>
                <div ng-if="item.notification_type === 'share_script'">
                    <span ng-click="openSharedScript(item.shareid)"><a href="#" style="cursor:pointer;">OPEN</a></span>
                </div>
            </div>
        </div>
        <hr style="margin:10px 20px; border: solid 1px dimgrey;" ng-show="$index < notificationList.length-1">
    </div>
</div>

<!--div id="download-loader" onclick="document.getElementById('download-loader').style.display='none';"  -->
<div id="download-loader" ng-click='downloadSpinnerClick()'>
    <br/><br/><br/><br/><br/><br/>
    <h2><i class="spinner icon icon-spinner"></i> Preparing your download</h2>
</div>

<div id="top-header-nav" ng-show="!isEmbedded">
    <div id="top-header-nav-left">
        <div id="app-title-container" class="pull-left">
            <img id="app-logo" src="img/ES_logo_extract.svg" alt="EarSketch Logo">
            <a href="http://earsketch.gatech.edu/landing" target='_blank' id="app-title">EarSketch</a>
        </div>

        <div id="top-header-nav-links" class="pull-left" style="max-width: 500px;">
            <a href="https://earsketch.gatech.edu/landing/#/contact" target="_blank">Help / Contact</a>
            <a href="https://www.teachers.earsketch.org" target="_blank">Teachers</a>
            <div id="app-title-container" class="pull-left" style="display: block; margin-top: 5px;">
                <div><a href="https://www.amazonfutureengineer.com/earsketch" target='_blank' ng-show="showAmazonBanner" id="app-title" style="color:yellow; text-shadow: 1px 1px #FF0000; line-height: 21px;">
                    <div><img id="app-logo" src="img/afe_logo.png" alt="Amazon Logo" style="margin-left: 17px; margin-right: 0px; height: 13px;"></div>
                    Celebrity Remix</a></div>
            </div>
        </div>
        <div class="clear:both"></div>
    </div>

    <!-- temporary place for the app-generated notifications -->
    <notification-bar ng-show="showText"></notification-bar>
    <!--<div id="notification-bar-container">-->
    <!--</div>-->

    <!-- top-right icons -->
    <div id="top-header-nav-form">
        <!-- keyboard shortcuts -->
        <div>
            <button id="keyboard-shortcuts" type="button" class="top-header-nav-button btn btn-xs btn-clear" ng-click="toggleShortcutHelper()" ng-class="showKeyShortcuts ? 'grow-in-size':''" title="Show/Hide Keyboard Shortcuts">
                <i class="icon icon-keyboard"></i>
                <span class="sr-only">Keyboard Shortcuts</span>
            </button>
        </div>

        <!-- Font Size -->
        <div uib-dropdown dropdown-append-to-body>
            <button uib-dropdown-toggle type="button" id="font-size-button" class="top-header-nav-button btn btn-xs btn-clear dropdown-toggle">
                <i class="icon icon-font-size2"></i>
                <!--<span class="caret"></span>-->
            </button>
            <ul uib-dropdown-menu class="dropdown-menu text-left font-size-menu" role="menu">
                <li ng-repeat="size in fontSizes" >
                    <a ng-click="setFontSize(size.size)">{{size.size}} <span ng-if="size.size === 14">(Default)</span> <i ng-if="selectedFont === size.size" class="animate-if icon icon-checkmark4"></i></a>
                </li>
            </ul>
        </div>

        <!-- global options -->
        <div  uib-dropdown dropdown-append-to-body class="btn-group">
            <button uib-dropdown-toggle type="button" class="top-header-nav-button btn btn-xs btn-clear dropdown-toggle" id="global-options">
                <i class="icon icon-cog2"></i>
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul uib-dropdown-menu class="dropdown-menu dropdown-menu-right" role="menu" style="max-height:300px; height:auto; overflow-y:auto">
                <li><a href="#" ng-click="resumeQuickTour()">Start Quick Tour</a></li>
                <li><a href="#" ng-click="toggleColorTheme()">Switch Background Color</a></li>
                <!--<li id="bw"><a href="#" ng-click="soundQuality(!audioQuality)">High Quality Audio <i ng-if="!audioQuality" class="animate-if icon icon-checkmark4"></i></a></li>-->
                <li ng-show="loggedIn"><a href="#" ng-click="toggleTimesyncOption()"><i ng-if="showTimesync" class="icon icon-checkmark4"> </i>Show "Play Together" Button</a></li>
                <li><a href="#" ng-click="reportError()">Report Error </a></li>
            </ul>
        </div>

        <!-- notification (bell) button -->
        <div class="user-notification">
            <div id="bell-icon-container" class=".btn" type="button" popover-placement="bottom-right" popover-trigger="outsideClick" popover-is-open="showNotification" uib-popover-template="'templates/user-notification.html'">
                <i class="icon icon-bell" id="user-notification-icon"></i>
                <div id="badge" ng-show="getNumUnread() > 0">{{getNumUnread()}}</div>
            </div>
            <notification-popup ng-show="showPopupText"></notification-popup>
        </div>

        <!-- user login menu -->
        <div uib-dropdown dropdown-append-to-body id="not-logged-in" ng-show="!loggedIn">
            <input type="text" autocomplete="on" name = "username" ng-model="username" placeholder="Username" ng-keydown="enterKeySubmit($event)">
            <input type="password" autocomplete="current-password" ng-model="password" placeholder="Password" ng-keydown="enterKeySubmit($event)">
            <button type="submit" ng-click="openShareAfterLogin();login();" class="btn btn-xs btn-default" style="margin-left:6px;padding:2px 5px 3px;"><i class="icon icon-arrow-right"></i></button>
            <button uib-dropdown-toggle type="button" class="btn btn-xs btn-default dropdown-toggle" style="float:right;margin-left:6px;height:23px;">Create / Reset Account </button>
            <ul uib-dropdown-menu class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="#" class="credentials" ng-click="createAccount()">Register a New Account</a></li>
                <li><a href="#" class="credentials" ng-click="forgotPass()">Forgot Your Password?</a> </li>
            </ul>
        </div>
        <div uib-dropdown dropdown-append-to-body id="logged-in" ng-show="loggedIn">
            <span class="loggedInMsg"></span>
            <button uib-dropdown-toggle type="button" class="btn btn-xs btn-default dropdown-toggle" style="margin-left:6px;"><em style="color:#0078e0;">{{loggedInUserName}}</em>
                &nbsp;<span class="caret"></span>
            </button>
            <ul uib-dropdown-menu class="dropdown-menu  dropdown-menu-right" role="menu">
                <li><a href="#" class="credentials" ng-click="editProfile()">Edit Profile</a></li>
                <li><a type="button" ng-show="userrole == 'admin'" ng-click="openAdminWindow()">Admin Window</a></li>
                <li><a type="button" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- container -->
<div id="main-container" ng-controller="ideController" ng-show="showIDE || showAll" ng-style="dynamicStyle(isEmbedded)"> <!-- container -->
    <div ng-controller="layoutController"> <!-- layoutController -->
        <div id="sidenav" ng-show="!isEmbedded" ng-style="{'z-index':bubble.active&&bubble.currentPage!==0?35:0}"> <!-- sidenav -->
            <ul>
                <!-- Sound Browser -->
                <button class="sidenav-button btn btn-primary" ng-class="{'sidenav-button-transparent': layout.browser !== 0}" id="sidenav-filebrowser" data-toggle="tooltip" title="Sounds" ng-click="toggleSidebarTab('sound');" >
<!--                    <i class="icon icon-sound-browser"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>-->
                    <i class="icon icon-headphones"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                </button>

                <!-- Scripts Browser -->
                <button class="sidenav-button btn btn-primary" ng-class="{'sidenav-button-transparent': layout.browser !== 1}" id="sidenav-scriptbrowser" data-toggle="tooltip" title="Scripts" ng-click="toggleSidebarTab('script')">
<!--                    <i class="icon icon-code-browser"><span class="path1"></span><span class="path2"></span></i>-->
                    <i class="icon icon-embed2"><span class="path1"></span><span class="path2"></span></i>
                </button>

                <!-- Share Browser -->
<!--                <button class="sidenav-button btn btn-primary" ng-class="{'sidenav-button-transparent': layout.browser !== 2}" id="sidenav-sharebrowser" data-toggle="tooltip" title="Share" ng-click="toggleSidebarTab('share')">-->
<!--                    <i class="icon icon-share-browser"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>-->
<!--                </button>-->

                <!-- API Browser -->
                <button class="sidenav-button btn btn-primary" ng-class="{'sidenav-button-transparent': layout.browser !== 3}" id="sidenav-apibrowser" data-toggle="tooltip" title="API" ng-click="toggleSidebarTab('api');">
<!--                    <i class="icon icon-api-browser"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>-->
                    <i class="icon icon-book"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                </button>

                <!-- Console -->
                <!--<button class="sidenav-button btn btn-primary" ng-class="{'sidenav-button-transparent': !layout.console}" id="sidenav-console" ng-click="toggleLayout('console')" data-toggle="tooltip" title="Console">-->
                <!--<i class="icon icon-terminal"></i>-->
                <!--</button>-->

                <!-- Curriculum -->
                <button class="sidenav-button btn btn-primary" ng-class="{'sidenav-button-transparent': (!layout.curriculum || showChatWindow || showCAIWindow)}" ng-click="toggleLayout('curriculum')" id="sidenav-curriculum" data-toggle="tooltip" title="Curriculum">
                    <i class="icon icon-book3" style="font-size:18px"></i>
                </button>

                <!-- Chat (hidden option) -->
                <button ng-if="enableChat" class="sidenav-button btn btn-primary" ng-class="{'sidenav-button-transparent': !showChatWindow}" ng-click="toggleLayout('chat')" id="sidenav-chat" data-toggle="tooltip" title="Chat">
                    <i class="icon icon-bubbles"></i>
                </button>

                <!-- CAI User Interface -->
                <button ng-if="enableCAI" class="sidenav-button btn btn-primary" ng-class="{'sidenav-button-transparent': !showCAIWindow}" ng-click="toggleLayout('cai')" id="sidenav-cai" data-toggle="tooltip" title="CAI">
                    <i class="icon icon-bubbles"></i>
                </button>

            </ul>

            <div>
                <button type="button" class="sidenav-button sidenav-button-transparent btn btn-primary" ng-click="openFacebook()">
                    <!--<a href="https://www.facebook.com/EarSketch/" target="_blank">-->
                    <i class="icon icon-facebook2"></i>
                    <!--</a>-->
                </button>

                <button type="button" class="sidenav-button sidenav-button-transparent btn btn-primary" ng-click="openTwitter()">
                    <!--<a href="https://twitter.com/earsketch?lang=en" target="_blank">-->
                    <i class="icon icon-twitter"></i>
                    <!--</a>-->
                </button>
            </div>
        </div>

        <div ui-layout="{flow: 'column'}" ui-layout-loaded> <!-- ui-layout -->
            <div ui-layout-container="sidebar" collapsed="!layout.sidebar" size="300px" min-size="300px" id="sidebar-container" ng-style="{'z-index':bubble.active&&bubble.currentPage>=5?35:0}"> <!-- #sidebar -->
                <div id="sidebar">
                    <uib-tabset class="sidebar-inner" active="layout.browser">
                        <uib-tab id="tab-soundbrowser" index="0" select="openSidebarTab('sound');">
                            <sound-browser></sound-browser>
                        </uib-tab>
                        <uib-tab id="tab-scriptbrowser" index="1" select="openSidebarTab('script')">
                            <script-browser></script-browser>
                        </uib-tab>
                        <uib-tab id="tab-sharebrowser" index="2" select="openSidebarTab('share')">
                            <!--<uib-tab-heading>Share</uib-tab-heading>-->
                            <div sharebrowser></div>
                        </uib-tab>
                        <uib-tab id="tab-apibrowser" index="3" select="openSidebarTab('api')">
                            <api-browser></api-browser>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div> <!-- end of #sidebar -->

            <div ui-layout-container="central" collapsed="!layout.main" id="content"> <!-- #content-container -->
                <div ui-layout="{flow : 'row', disableToggle : true, dividerSize: embedDivSize}" > <!-- row flow -->
                    <div ui-layout-container collapsed="!layout.daw" size="{{defaultDawSize}}" min-size="32px" id="devctrl" ng-show="showIDE || showAll" ng-style="{'z-index':bubble.active&&bubble.currentPage>=2?35:0}">
                        <div id="workspace">
                            <div ng-hide="showIDE && showAll">

                                <div class="loading text-center" ng-show="!loaded"> <!-- Loader -->
                                    <div ng-hide="showIDE && showAll">
                                        <h1><i class="spinner icon icon-spinner"></i> Loading...</h1>
                                    </div>
                                </div> <!-- end of loader -->

                                <div class="workstation" ng-show="loaded">
                                    <div class="row">
                                        <daw ng-model="compiled"></daw>
                                    </div>
                                </div>

                            </div>
                        </div> <!-- end of #workspace -->
                    </div> <!-- end of #devctrl -->


                    <div ui-layout-container="central" collapsed="!layout.coder" min-size="28px" id="coder" ng-style="{'z-index':bubble.active&&bubble.currentPage!==0?35:0}"> <!-- coder -->
                        <div ng-controller="tabController">
                            <!--a id="idshareurl" ng-href="http://earsketch.gatech.edu/media/projects/view/{{projectId}}">Share Project</a-->
                            <div class="row ide-toolbar" id="code-toolbar">
                                <span ng-hide="isEmbedded" class="panel-label" id="code-eidtor-label">
                                    <i class="icon icon-code"></i> Code Editor
                                    <div class="btn-group" uib-popover-html="getPopoverContent('editor')" popover-placement="right-top" popover-animation="true" popover-title="Editor Shortcuts" popover-is-open="isShortcutHelperOpen()" popover-trigger="none"></div>
                                </span>

                                <div ng-hide="isEmbedded" class="text-right menuright">
                                    <!-- Options Split button -->
                                    <div uib-dropdown dropdown-append-to-body class="btn-group">
                                        <button uib-dropdown-toggle type="button" class="btn btn-xs btn-clear dropdown-toggle" id="editor-options"><i class="icon icon-cog2"></i>
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul uib-dropdown-menu class="dropdown-menu dropdown-menu-right" role="menu" style="max-height:300px; height:auto; overflow-y:auto">
                                            <li ng-class="{hidden: tabs.length < 1, disabled: tabs[activeTab].saved}" ng-switch="tabs[activeTab].saved">
                                                <a href="#" ng-click="saveScript()" ng-switch-when="false"> Save Changes in Script</a>
                                                <a href="#" ng-switch-when="true"> All Changes in Script Already Saved</a>
                                            </li>
                                            <!-- <li ng-class="{hidden: tabs.length < 1}" ng-switch="!tabs[activeTab].readonly">
                                                <a href="#" ng-click="copyScript()" ng-switch-when="true"> Create Copy of Script</a>
                                            </li> -->
                                            <li ng-class="{disabled: !editor.checkUndo()}" ><a href="#" ng-click="editor.undo()">Undo</a></li>
                                            <li ng-class="{disabled: !editor.checkRedo()}" ><a href="#" ng-click="editor.redo()">Redo</a></li>
                                            <li><a href="#" ng-click="toggleBlocks()"> Toggle Blocks Mode</a></li>
                                        </ul>
                                    </div>

                                    <!-- Run Code -->
                                    <button id="run-button" type="submit" ng-disabled="(tabs.length == 0) || !loaded" ng-click='compileCode()' class="btn btn-xs btn-run btn-clear" title="{{detectOS ==='MacOS'?'Cmd':'Ctrl'}} + Enter" uib-popover-html="getPopoverContent('run')" popover-placement="bottom-right" popover-animation="true" popover-is-open="isShortcutHelperOpen()" popover-trigger="none">Run <i class="icon icon-arrow-right15"></i></button>
                                </div>
                                <!-- Tabs -->
                                <div class="tab-container" ng-show="tabs.length > 0">
                                    <span ng-show="isEmbedded" class="embedded-script-info"> By: {{embeddedScriptUsername}}</span>
                                    <uib-tabset active="activeTabID">
                                        <!-- Note: Do not track by $index because uib-tab freaks out -->
                                        <uib-tab ng-hide="isEmbedded" ng-repeat="tab in tabs track by $index" index="tab.shareid" select="swapTab(getTabId(tab.shareid),activeTabID,tab.shareid)" ng-init="tabContextMenu[getTabId(tab.shareid)]={state:false}" ng-click="preventPopover(getTabId(tab.shareid))" class="tab-context-menu">
                                            <uib-tab-heading uib-popover-template="'templates/script-context-menu.html'" popover-trigger="outsideClick" popover-placement="bottom" popover-is-open="tabContextMenu[getTabId(tab.shareid)].state" right-click-menu="openContextMenu(getTabId(tab.shareid))">
                                                <div class="title-block prevent-selection">
                                                        <span class="tab-text" ng-class="{ 'dirty-tab-header' : !tab.saved && !tab.readonly && !tab.collaborative}" title="{{tab.tooltipText}}">
                                                            <i class="icon icon-eye" ng-show="tab.readonly && !tab.isShared"></i>
                                                            <i class="icon icon-bubble" style="color:#6DFED4;" ng-show="enableChat && showChatBubble(tab)"></i>
                                                            <i class="icon icon-users" style="color:#6DFED4;" ng-show="tab.collaborative"></i>
                                                            <i class="icon icon-copy" style="color:#6DFED4;" ng-show="tab.isShared && !tab.collaborative"></i>
                                                            <span uib-tooltip="{{tab.name}}" tooltip-placement="bottom">
                                                                {{tab.name}}
                                                                <div></div> <!-- a hack to disable safari tooltip: don't remove! -->
                                                            </span>
                                                        </span>
                                                    <span class="tab-close" ng-click="closeTab(getTabId(tab.shareid), $event);">X</span>
                                                </div>
                                            </uib-tab-heading>
                                        </uib-tab>

                                        <div editor></div>

                                        <button ng-hide="isEmbedded" class="btn btn-clear" id="btn-add-tab" ng-click="createScript()">
                                            <i class="icon icon-plus2"></i>
                                        </button>
                                    </uib-tabset>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                            <span ng-show="isEmbedded" class="embedded-script-info" style="padding-top: 5px;"> Script: {{embeddedScriptName}}</span>
                            <div ng-hide="tabs.length > 0" style="text-align: center">
                                <h2 id="no-scripts-warning">You have no scripts loaded.</h2>
                                <h3><a href="#" ng-click="createScript()">Click here to create a new script!</a></h3>
                                <div id="empty-script-lang-message">
                                    <p>You are currently in <span class="empty-script-lang">{{dispLang === 'python' ? 'Python' : 'JavaScript'}}</span> mode.</p>
                                    <p>If you want to switch to <span class="empty-script-lang">{{dispLang === 'python' ? 'JavaScript' : 'Python'}}</span> mode, <br>
                                        please open a script with <span class="empty-script-lang">{{dispLang === 'python' ? '.js' : '.py'}}</span> or create a new one <br>
                                        and select <span class="empty-script-lang">{{dispLang === 'python' ? 'JavaScript' : 'Python'}}</span> as the script language.</p>
                                </div>
                            </div>
                            <iframe id="ifmcontentstoprint" style="height: 0px; width: 0px; visibility:hidden; position: absolute">
                            </iframe>
                        </div> <!-- end of tabController -->
                    </div> <!-- end of #coder -->

                    <div ui-layout-container collapsed="!layout.console" min-size="24px" size="80px" id="console-frame"> <!-- console -->
                        <div class="results">
                            <div class="row">
                                <div id="console">
                                    <div class="console-line" ng-repeat="msg in logs track by $index">
                                                <span class="console-info" ng-if="msg.level == 'status'">
                                                    {{msg.text}}&nbsp;
                                                </span>
                                        <span class="console-info" ng-if="msg.level == 'info'">
                                                    {{msg.text}}&nbsp;
                                                </span>
                                        <span class="console-warn" ng-if="msg.level == 'warn'">
                                                    {{msg.text}}
                                                </span>
                                        <span class="console-error" ng-if="msg.level == 'error' && layout['curriculum']">
                                                    {{msg.text}}
                                                    <a style="cursor:pointer" ng-click="loadChapterForError(msg.text)">
                                                        Click here for more information.
                                                    </a>
                                                </span>
                                        <span class="console-error" ng-if="msg.level == 'error' && !layout['curriculum']">
                                                    {{msg.text}}
                                                    <a style="cursor:pointer" ng-click="loadChapterForError(msg.text); toggleLayout('curriculum')">
                                                        Click here for more information.
                                                    </a>
                                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end of console -->
                </div> <!-- end of row flow -->
            </div> <!-- end of #content -->

            <div ui-layout-container size="440px" collapsed="!layout.curriculum" min-size="360px" id="curriculum-container" ng-style="{'z-index':bubble.active&&bubble.currentPage>=8?35:0}"> <!-- curriculum -->
                <div class="h-full" ng-show="!showChatWindow && !showCAIWindow">
                    <curriculum style="height:inherit"></curriculum>
                </div>
                <div chatwindow id="chat-window" ng-show="showChatWindow"></div>
                <div caiwindow ng-if="enableCAI" id="chat-window" ng-show="showCAIWindow"></div>
            </div> <!-- end of #curriculum -->
        </div> <!-- ui-layout -->
    </div> <!-- layoutController -->
</div> <!-- end of container -->
<hot-bubble></hot-bubble>
</body>
</html>