<div class="modal-header">
    Rename Script
</div>

<div class="modal-body">
	<div class="alert alert-danger" ng-show="error">
    	{{error}}
    </div>
    Enter the new name for this script:
    <div class="input-group">
        <input type="text" class="form-control" ng-model="scriptName" onFocus="this.select()" autofocus ng-keydown="enterKeySubmit($event)"/>
        <span class="input-group-addon">{{extension}}</span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="accept()">Rename</button>
    <button class="btn btn-default" ng-click="close()">Cancel</button>
</div>

