<div class="modal-header">
    Rename Sound
</div>

<div class="modal-body">
    <div>
        Enter the new name for your sound:
    </div>
    <div class="input-group" style="display:flex; align-items:center; margin-top:10px;">
        <span style="float:left;">{{username}}_&nbsp;</span>
        <div style="float:right;">
            <input type="text" class="form-control" ng-model="soundKey" onFocus="this.select()" autofocus ng-keydown="enterKeySubmit($event)"/>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="accept()">Rename</button>
    <button class="btn btn-default" ng-click="close()">Cancel</button>
</div>

