<div>
    <div class="modal-body report_error">
        <div align="center" style="font-size: 2em;" id="mine"> Enter details</br></div>


        <div id="errDetails">
            <form id="errform">
                <table>
                    <tr>
                        <td align="right">Name(optional) :</td>
                        <td align="left"><input ng-model="userName" type="text" style="width: 400px;"/></td>
                    </tr>
                    <tr>
                        <td align="right">Email(optional) :</td>
                        <td align="left"><input ng-model="userEmail" type="text" style="width: 400px;"/></td>
                    </tr>
                    <tr>
                        <td align="right">Description :</td>
                        <!--td align="left"><input ng-model="errorDesc" type="text" style="width: 400px;"/></td-->
                        <td align="left"><textarea rows="4" cols="54" ng-model="errorDesc" form="errform"></textarea>
                    </tr>
                </table>
            </form>

        </div>

    </div>
        <div class="modal-footer" style="text-align:center">
            <button class="btn btn-primary" ng-click="sendError(userName,userEmail,errorDesc)">Report Error</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>

</div>


