<div class="modal-body">
  <div ng-if="scriptName && oldName == scriptName" style="color: #e00;" ng-hide="flagNewScript">
    <strong>WARNING: this will overwrite current file {{scriptName}}{{scriptExtension}}</strong>
  </div>
   <div ng-show="flagNewScript">
    <strong>Would you like to save your script, {{scriptName}}{{scriptExtension}}?</strong>
  </div>
  <div> Names can only include letters and numbers. Do not use special characters or spaces. </div>
  <label ng-hide="flagNewScript">Save script as (e.g. myscript):</label>
  <input ng-model="scriptName" type="text" ng-hide="flagNewScript">
  <label ng-hide="flagNewScript">{{scriptExtension}}</label>
</div>
<div class="modal-footer">
  <button ng-show="flagNewScript" class="btn btn-primary" ng-click="new()">New</button>
  <button class="btn btn-primary" ng-click="save(scriptName)">Save</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
