<div class="script-browser-container sidebar-inner ui-layout-center" role="navigation">
    <div class="sb-upload">
        <div class="script-browser" id="script-browser" ng-style="lineHeight">
            <div class="panel-label sb-title">
                <i class="icon icon-code-browser"><span class="path1"></span><span class="path2"></span></i> Scripts Browser
            </div>
            <div class="panel-label" id="add-script">
                <span>
                    <button class="btn btn-sm btn-add-sound" ng-click="createScript()">
                        <i class="icon icon-plus2"></i> 
                        CREATE A NEW SCRIPT
                    </button>
                </span>
            </div>
            <div id="script-search" class="panel-label">
                <i class="icon icon-search browser-icon-search"></i>
                <form>
                    <input ng-model="scriptssearch" type="text" size="200" placeholder="Search your scripts" class="search-bar" />
                </form>
                <button id="search-reset" class="btn btn-xs btn-primary" ng-show="scriptssearch.length > 0" ng-click="scriptssearch=''">X</button>
            </div>
            <div ng-hide="loggedIn" class="panel-label sb-title">
                Please log in to see your scripts.
            </div>
            <div class="panel-label" id="filter-title">
                <i class="icon icon-filter2"></i>
                Filter the Scripts
            </div>
            <div class="row filter-toggle-container ">
                <button type="button" class="btn btn-show-deleted-scripts btn-hollow btn-filter" ng-click="showDeletedScripts = !showDeletedScripts;" ng-class="showDeletedScripts ? 'active':''" ng-show="hasDeletedScripts()">
                    <span>
                        <span ng-hide="showDeletedScripts">SHOW</span> 
                        <span ng-show="showDeletedScripts">HIDE</span>
                        DELETED SCRIPTS
                    </span>
                </button>
            </div>
            <div class="row sb-tags filter-body">
                <div class="btn-group" uib-dropdown auto-close="outsideClick">
                    <button type="button" class="btn btn-filter dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                        &nbsp;&nbsp;Owner<span span ng-hide="scriptfilters.owner.length > 0">&nbsp;&nbsp;</span>
                        <span ng-show="scriptfilters.owner.length > 0">({{scriptfilters.owner.length}})</span>
                        <span class="caret" style="right:10px;"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" ng-click="clearScriptsFilter('owner')">
                                &nbsp;Clear
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" ng-click="updateScriptFilters('owner', username)">
                                <div class="">
                                    <div class="selected">
                                        <i class="glyphicon glyphicon-ok" ng-show="scriptfilters.owner.indexOf(username)>-1"></i>&nbsp;
                                    </div>
                                    <div>
                                        {{username}}&nbsp;&nbsp;
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li ng-repeat="i in scriptsList | uniqueOwners:'creator'">
                            <a href="#" ng-click="updateScriptFilters('owner', i.creator)">
                                <div class="">
                                    <div class="selected">
                                        <i class="glyphicon glyphicon-ok" ng-show="scriptfilters.owner.indexOf(i.creator)>-1"></i>&nbsp;
                                    </div>
                                    <div>
                                        {{::i.creator}}&nbsp;&nbsp;
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group" uib-dropdown auto-close="outsideClick">
                    <button type="button" class="btn btn-filter dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                        &nbsp;&nbsp;File Type<span span ng-hide="scriptfilters.filetype.length > 0">&nbsp;&nbsp;</span>
                        <span ng-show="scriptfilters.filetype.length > 0">({{scriptfilters.filetype.length}})</span>
                        <span class="caret" style="right:10px;"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" ng-click="clearScriptsFilter('filetype')">
                                &nbsp;Clear
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" ng-click="toggleFiletype('.py')">
                                <div class="">
                                    <div class="selected">
                                        <i class="glyphicon glyphicon-ok" ng-show="scriptfilters.filetype.indexOf('.py')>-1"></i>&nbsp;
                                    </div>
                                    <div>
                                        Python&nbsp;&nbsp;
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="toggleFiletype('.js')">
                                <div class="">
                                    <div class="selected">
                                        <i class="glyphicon glyphicon-ok" ng-show="scriptfilters.filetype.indexOf('.js')>-1"></i>&nbsp;
                                    </div>
                                    <div>
                                        JavaScript&nbsp;&nbsp;
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- <button ng-class="scriptfilters.filetype.indexOf('.py')>-1 ? 'active':''" class="btn btn-filter btn-hollow" ng-click="toggleFiletype('.py')">.py</button>
                    <button ng-class="scriptfilters.filetype.indexOf('.js')>-1 ? 'active':''" class="btn btn-filter btn-hollow" ng-click="toggleFiletype('.js')">.js</button>  -->
                </div>
                <div class="btn-group" uib-dropdown auto-close="outsideClick">
                    <button type="button" class="btn btn-filter dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                        &nbsp;&nbsp;Sort By&nbsp;&nbsp;
                        <span class="caret" style="right:10px;"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" ng-click="order = order == '+name' ? '-name' : '+name'">
                                <i class="icon icon-arrow-up5" ng-show="order=='+name'"></i>
                                <i class="icon icon-arrow-down5" ng-show="order=='-name'"></i>
                                A-Z
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="order = order == '+modified' ? '-modified' : '+modified'">    <i class="icon icon-arrow-up5" ng-show="order=='+modified'"></i>
                                <i class="icon icon-arrow-down5" ng-show="order=='-modified'"></i>
                                Date
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pull-left panel-label list-title">
                <i class="icon icon-code"></i> 
                <span>Scripts ({{filteredScriptsList.length}})</span>
            </div>
            <div ng-show="filteredScriptsList.length < 1 && areScriptsPresent" class="panel-label">No matches found</div>
            <div ng-hide="areScriptsPresent" class="panel-label">You don't have any scripts saved on the server.</div>
            <div ng-repeat="script in filteredScriptsList = ( scriptsList | filterScripts:filteredScripts | filter:scriptssearch | filterDeleted:showDeletedScripts ) | orderBy:order track by $index" ng-init="showShare=false">
                <div class="item" ng-class="tabs[activeTab].shareid === script.shareid ? 'active':''">
                    <div class="text" ng-click="selectScript(script)">
                        <div class="ellipsis-long">
                            <span ng-show="script.creator" uib-tooltip="shared by {{script.creator}}" tooltip-placement="auto top-right">
                                <i class="icon icon-copy" style="color:#6DFED4;"></i>
                            </span>
                            <span ng-show="enableChat && showChatBubble(script)">
                                <i class="icon icon-bubble" style="color:#6DFED4;"></i>
                            </span>
                            <span ng-show="script.collaborative" uib-tooltip="shared with {{script.collaborators.join(', ')}}" tooltip-placement="auto top-right">
                                <i class="icon icon-users" style="color:#6DFED4;"></i>
                            </span>
                            <span class="name" uib-tooltip="{{script.name}}" tooltip-placement="top">{{script.name}}</span>
                        </div>
                        <div class="date">
                            <span ng-hide="script.soft_delete">Last modified:</span>
                            <span ng-show="script.soft_delete">Deleted:</span>
                            {{currentTime-script.modified | formatTimer}}
                        </div>
                    </div>
                    <div class="controls">
                        <div ng-show="script.soft_delete">
                            <button class="btn btn-xs btn-action" ng-click="restoreScript(script)"><i class="icon icon-rotate-cw2" title="Restore Script"></i></button>
                        </div>
                        <div class="dropdown" ng-hide="script.soft_delete" uib-dropdown dropdown-append-to-body>
                            <button class="btn btn-xs btn-action" uib-dropdown-toggle><i class="icon icon-menu3"></i></button>
                            <ul class="dropdown-menu sb-control-dropdown" uib-dropdown-menu>
                                <li><a href="#" ng-click="selectScript(script)"><i class="icon icon-file-empty" ></i>Open</a></li>
                                <li><a href="#" ng-click="copyScript(script)"><i class="icon icon-copy"></i>Create Copy</a></li>
                                <li><a href="#" ng-click="renameScript(script)" ><i class="icon icon-pencil2" ></i>Rename</a></li>
                                <li><a href="#" ng-click="downloadModal(script)" ><i class="icon icon-cloud-download"></i>Download</a></li>
                                <li><a href="#" ng-click="printScript(script)" ><i class="icon icon-printer" ></i>Print</a></li>
                                <li ng-class="{ disabled: !loggedIn}" uib-tooltip="{{!loggedIn ? 'Login to enable sharing scripts' : ''}}"><a href="#" ng-click="shareScript(script)" ><i class="icon icon-share2" ></i>Share</a></li>
                                <li ng-show="showAmazon" ng-class="{ disabled: !loggedIn}" uib-tooltip="{{!loggedIn ? 'Login to enable sharing scripts' : ''}}"><a href="#" ng-click="submitToAWS(script)" style="color:yellow; text-shadow: 1px 1px #FF0000;"><i class="icon icon-share2" ></i>Submit to Competition</a></li>
                                <li ng-class="{ disabled: !loggedIn}" uib-tooltip="{{!loggedIn ? 'Login to track history of scripts' : ''}}"><a href="#" ng-click="openHistory(script, true)"><i class="icon icon-history"></i>History</a></li>
                                <li><a href="#" ng-click="analyzeScript(script)"><i class="glyphicon glyphicon-info-sign"></i>Code Indicator</a></li>
                                <li><a href="#" ng-click="deleteScript(script)"><i class="icon icon-bin" ></i>Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="sharePopoverTemplate.html">
    <input type="text" value="{{shareUrl(script)}}">
</script>
