<div class="modal-header">
    <h4 class="modal-title">
      <i class="glyphicon glyphicon-info-sign" ></i> Code-Concept Indicator for {{script.name}}
    </h4>
</div>
<div class="modal-body">
  <table class="table">
    <tr>
      <th>Category</th>
      <th>Count</th>
    </tr>
    <tr>
      <td>Loops</td>
      <td>{{analysis.loops}} &times; 10</td>
    </tr>
    <tr>
      <td>Conditionals</td>
      <td>{{analysis.conditionals}} &times; 10</td>
    </tr>
    <tr>
      <td>Conditionals with Booleans</td>
      <td>{{analysis.booleanConditionals}} &times; 15</td>
    </tr>
    <tr>
      <td>Lists</td>
      <td>{{analysis.lists}} &times; 15</td>
    </tr>
    <!--tr>
      <td>List Operations</td>
      <td>{{analysis.listOps}} &times; 20</td>
    </tr-->
    <tr>
      <td>List and String Operations</td>
      <td>{{analysis.strOps + analysis.listOps}} &times; 15</td>
    </tr>
    <tr>
      <td>User-Defined Functions</td>
      <td>{{analysis.userFunc}} &times; 30</td>
    </tr>
    <tr>
      <th>Total</th>
      <th id="totalScriptScore">
        {{score}}
      </th>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="close()">Exit</button>
</div>
