<div class="modal-header">
    <button type="button" class="close" id="script-history-close" ng-click="close()">&times;</button>
    <h4 class="modal-title">
      Version history for "{{script.name}}"
      <span ng-hide="allowRevert">(You can only revert the scripts under MY SCRIPTS)</span>
    </h4>
</div>

<div class="modal-body" ng-show="history == undefined">
  Fetching script history.
</div>

<div class="modal-body" ng-if="history != undefined">
  <div class="row column-labels">
    <div class="col-md-4" style="margin:0;padding:0">
      <div class="column-label">
        Version History
      </div>
    </div>
    <div class="col-md-8">
      <div class="column-label" ng-show="compiledResult === undefined">
        Diff with Previous Version
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 scroll-50">
      <table class="table table-condensed">
        <tr ng-repeat="version in history | orderBy:id:true" ng-class="active == version.id ? 'active' : ''">
          <td ng-if="version.run_status == 1">
            <i class="icon icon-checkmark4" uib-tooltip="This version ran successfully."></i>
          </td>
          <td ng-if="version.run_status == 2">
            <i class="icon icon-bug" uib-tooltip="There was an error in this version."></i>
          </td>
          <td ng-if="version.run_status != 1 && version.run_status != 2"><!-- dummy spacer --></td>
          <td  ng-click="setActiveVersion(version.id);">
            Version {{version.id}}
            <span ng-if="version.activeUsers"><i class="icon icon-users" style="color:#6DFED4;"></i></span>
            <br>
            <span class="text-muted">{{currentTime - version.created | formatTimer}}</span>
          </td>
          <td ng-if="allowRevert"><a href="#" ng-click="revertScript(version.id)"><i class="icon icon-rotate-cw2"></i></a></td>
          <td ng-if="version.run_status == 1">
            <button class="btn btn-xs btn-run btn-clear" ng-show="compiledResult === undefined" ng-click="runVersion(version.id)"><i class="icon icon-arrow-right15"></i></button>
            <button class="btn btn-xs btn-clear" ng-hide="compiledResult === undefined" ng-click="closeDaw()"><i class="icon icon-cross"></i></button>
          </td>
          <td ng-if="version.run_status != 1"><!-- dummy spacer --></td>
        </tr>
      </table>
    </div>
    <div ng-hide="compiling || compiledResult !== undefined">
      <div class="col-md-8 scroll-50" ng-if="!loadingScript">
        <pre><diff original="original.source_code" modified="modified.source_code" /></pre>
        <div ng-if="original.activeUsers">Active Collaborators: {{parseActiveUsers(original.activeUsers)}}</div>
      </div>
      <div class="col-md-8 scroll-50" ng-show="loadingScript">
        <i class="icon icon-spinner"></i> Fetching script version...
      </div>
    </div>
    <div class="col-md-8 scroll-50" ng-show="compiling && compiledResult === undefined">
      <i class="icon icon-spinner"></i> Running script version...
    </div>
    <div class="col-md-8 scroll-50" ng-hide="compiledResult === undefined" style="position:relative;">
      <daw ng-model="compiledResult"></daw>
    </div>
  </div>
</div>
