<div class="share-browser sidebar-inner ui-layout-center" role="navigation">
    <div class="sb-upload">
        <div class="script-browser" id="share-browser" ng-style="lineHeight">
            <div class="panel-label sb-title">
                <i class="icon icon-share-browser"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i> Shared-Scripts Browser
            </div>
            <div id="script-search" class="panel-label">
                <i class="icon icon-search browser-icon-search"></i>
                <form>
                    <input ng-model="sharescriptssearch" type="text" ng-change="tabService.sharedScriptLoaded = false;" placeholder="Search scripts shared with you" size="200" class="search-bar" />
                </form>
                <button id="search-reset" class="btn btn-xs btn-primary" ng-show="sharescriptssearch.length > 0" ng-click="sharescriptssearch=''">X</button>
            </div>

            <div class="panel-label" id="filter-title">
                <i class="icon icon-filter2"></i>
                Filter the Shared Scripts
            </div>
            <div class="row filter-body">
                <div class="btn-group" uib-dropdown auto-close="outsideClick">
                    <button type="button" class="btn btn-filter dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                        &nbsp;&nbsp;Owner<span span ng-hide="sharedScriptFilters.owner.length !== 0">&nbsp;&nbsp;</span>
                        <span ng-show="sharedScriptFilters.owner.length !== 0">({{sharedScriptFilters.owner.length}})</span>
                        <span class="caret" style="right:10px;"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" ng-click="clearSharedScriptsFilter('owner')">
                                &nbsp;Clear
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li ng-repeat="i in sharedScriptsList | uniqueOwners:'username' | orderBy:'+username'">
                            <a href="#" ng-click="updateSharedScriptFilters('owner', i.username)">
                                <div class="">
                                    <div class="selected">
                                        <i class="glyphicon glyphicon-ok" ng-show="sharedScriptFilters.owner.indexOf(i.username)>-1"></i>&nbsp;
                                    </div>
                                    <div>
                                        {{::i.username}}&nbsp;&nbsp;
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group" uib-dropdown auto-close="outsideClick">
                    <button type="button" class="btn btn-filter dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                        &nbsp;&nbsp;File Type<span span ng-hide="sharedScriptFilters.fileType.length !== 0">&nbsp;&nbsp;</span>
                        <span ng-show="sharedScriptFilters.fileType.length !== 0">({{sharedScriptFilters.fileType.length}})</span>
                        <span class="caret" style="right:10px;"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" ng-click="clearSharedScriptsFilter('fileType')">
                                &nbsp;Clear
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" ng-click="toggleFileTypeForShared('.py')">
                                <div class="">
                                    <div class="selected">
                                        <i class="glyphicon glyphicon-ok" ng-show="sharedScriptFilters.fileType.indexOf('.py') !== -1"></i>&nbsp;
                                    </div>
                                    <div>
                                        Python&nbsp;&nbsp;
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="toggleFileTypeForShared('.js')">
                                <div class="">
                                    <div class="selected">
                                        <i class="glyphicon glyphicon-ok" ng-show="sharedScriptFilters.fileType.indexOf('.js') !== -1"></i>&nbsp;
                                    </div>
                                    <div>
                                        JavaScript&nbsp;&nbsp;
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    </ul>
                </div>
                <div class="btn-group" uib-dropdown auto-close="outsideClick">
                    <button type="button" class="btn btn-filter dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                        &nbsp;&nbsp;Sort By&nbsp;&nbsp;
                        <span class="caret" style="right:10px;"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" ng-click="order = order == '+name' ? '-name' : '+name'">
                                <i class="icon icon-arrow-up5" ng-show="order=='+name'"></i>
                                <i class="icon icon-arrow-down5" ng-show="order=='-name'"></i>
                                A-Z
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="order = order == '+modified' ? '-modified' : '+modified'">
                                <i class="icon icon-arrow-up5" ng-show="order=='+modified'"></i>
                                <i class="icon icon-arrow-down5" ng-show="order=='-modified'"></i>
                                Date
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="order = order == '+username' ? '-username' : '+username'">
                                <i class="icon icon-arrow-up5" ng-show="order=='+username'"></i>
                                <i class="icon icon-arrow-down5" ng-show="order=='-username'"></i>
                                Owner
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- TODO: remove all the evil pull-lefts -->

            <div id="banner" ng-hide="tabService.sharedScriptLoaded" class="pull-left panel-label">
                <p ng-hide="isSharedScriptsListEmpty() || !loggedIn">Please select a shared script to see the description.</p>
                <p ng-show="isSharedScriptsListEmpty()" class="justifyme">Earsketch allows you to share your scripts with other users of EarSketch. When you open a share-link shared by someone, the script associated with the link appears in this space till you import it into your workspace or delete it. For more information on how to share scripts you can <a ng-click="toggleLayoutToState('curriculum','open'); loadChapter('ch_21.html#sharinganearsketchscript');">click here</a>.</p>
                <p ng-show="isSharedScriptsListEmpty() && loggedIn">You currently do not have any shared scripts in your workspace.</p>
                <p ng-hide="loggedIn">Please login to see the scripts shared with you.</p>
            </div>
            <div ng-show="tabService.sharedScriptLoaded" class="pull-left panel-label" class="desc">
                <span><i class="icon icon-scripts-icon"></i><span>Shared Script Description</span></span>
            </div>
            <div ng-show="tabService.sharedScriptLoaded" class="desc">
                <div>
                    <i ng-if="tabService.loadedSharedScript.collaborative" class="icon icon-users icon-sound-browser"></i>
                    <i ng-if="!tabService.loadedSharedScript.collaborative" class="icon icon-copy icon-sound-browser"></i> {{tabService.loadedSharedScript.name}}
                    <p class="shared-script-description" ng-show="tabService.loadedSharedScript.description">{{tabService.loadedSharedScript.description === 'undefined' ? '' : tabService.loadedSharedScript.description}}
                    </p>
                    <p class="shared-script-description" ng-hide="tabService.loadedSharedScript.description">This script has no description.
                    </p>
                </div>

                <div>
                    <p>
                        Original Author
                    </p>
                    <p class="shared-script-description">
                        <!-- #1858: Displayed all in lower case -->
                        {{tabService.loadedSharedScript.username}}
                    </p>
                </div>

                <div ng-if="tabService.loadedSharedScript.collaborative">
                    <p>
                        Collaborators
                    </p>
                    <p class="shared-script-description" style="word-wrap: break-word">
                        <span ng-repeat="member in tabService.loadedSharedScript.collaborators">{{member}}&nbsp;&nbsp;</span>
                    </p>
                </div>

                <div class="pull-left">
                    License Information
                    <p class="shared-script-description">Creative Commons</p>
                    <p class="shared-script-description"> {{tabService.loadedSharedScript.licenseInfo}}</p>
                </div>
                <div class="pull-left fill-space">
                    Last Modified on
                    <p class="shared-script-description"> {{tabService.loadedSharedScript.modified | dateUTCFormat | date:'medium'}}</p>
                </div>
                <div class="pull-left">
                    View-only Script Link
                    <p class="shared-script-description" style="word-break: break-all;"> {{shareLink}} <span class="copy-share-link move-up" clipboard text="shareLink" uib-popover="Copied!" popover-placement="top-right" popover-animation="true" popover-trigger="outsideClick"><i class="icon icon-paste4" title="Copy To Clipboard"></i></span></p>
                </div>
            </div>

            <div ng-show="loggedIn">
                <div ng-hide="isSharedScriptsListEmpty()" class="pull-left panel-label list-title">
                    <i class="icon icon-code-share"></i><span>Shared Scripts ({{filteredSharedScriptsList.length}})</span>
                </div>
                <div ng-show="filteredSharedScriptsList.length < 1" class="panel-label">No matches found</div>
                <div ng-repeat="script in filteredSharedScriptsList = (sharedScriptsList | filterScripts:filteredSharedScripts | filter:sharescriptssearch) | orderBy:order track by $index">
                    <div class="item" ng-class="tabService.loadedSharedScript.shareid === script.shareid ? 'active':''">
                        <div class="text" ng-click="loadSharedScript(script);selectSharedScript(script);">
                            <div id="shared-script-item" class="name ellipsis-long" >
                                <span ng-if="enableChat && showChatBubble(script)"><i class="icon icon-bubble" style="color:#6DFED4;"></i></span>
                                <span ng-if="script.collaborative"><i class="icon icon-users" style="color:#6DFED4;"></i></span>
                                <span ng-if="!script.collaborative"><i class="icon icon-copy" style="color:#6DFED4;"></i></span>
                                <span uib-tooltip="{{script.name}}" tooltip-placement="top">{{script.name}}</span>
                            </div>
                            <div id="shared-script-author" class="date">
                                <!-- #1858: Displayed all in lower case -->
                                shared by: {{script.username}}
                                <span ng-show="script.version">, version: {{script.version}}</span>
                            </div>
                        </div>
                        <div class="controls">
                            <div class="dropdown" ng-hide="script.soft_delete" uib-dropdown dropdown-append-to-body>
                                <button class="btn btn-xs btn-action" uib-dropdown-toggle><i class="icon icon-menu3"></i></button>
                                <ul class="dropdown-menu sb-control-dropdown" uib-dropdown-menu>
                                    <li><a href="#" ng-click="loadSharedScript(script);selectSharedScript(script);"><i class="icon icon-file-empty" ></i>Open</a></li>
                                    <li><a href="#" ng-click="downloadModal(script)" ><i class="icon icon-cloud-download"></i>Download</a></li>
                                    <li><a href="#" ng-click="printScript(script)" ><i class="icon icon-printer" ></i>Print</a></li>
                                    <li ng-class="{ disabled: !loggedIn}" uib-tooltip="{{!loggedIn ? 'Login to track history of scripts' : ''}}"><a href="#" ng-click="openHistory(script, false)"><i class="icon icon-history"></i>History</a></li>
                                    <li><a href="#" ng-click="analyzeScript(script)"><i class="glyphicon glyphicon-info-sign"></i>Code Indicator</a></li>
                                    <li><a href="#" ng-click="importScript(script)"><i class="icon icon-import" ></i>Import</a></li>
                                    <li><a href="#" ng-click="deleteSharedScript(script)"><i class="icon icon-bin" ></i>{{script.collaborative ? 'Leave Collaboration' : 'Delete'}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>