<div>
      <p>
        <b>The old EarSketch social sharing site will shut down on October 1, 2015. Here is the new way to share scripts in EarSketch:</b>
      </p>
      <ol>
                    <li>Save your script to the cloud using the Options menu.</li>
                    <li>Open the scripts browser by clicking the scripts browser icon (green icon in top left of window).</li>
                    <li>Click the share icon next to the script you want to share.</li>
                    <li>Copy and paste the sharing URL to share via e-mail, social media sites, learning management systems like D2L or Google Classroom, or anywhere else you want.</li>
                    <li>When someone opens the sharing URL, they'll see your code and music directly within EarSketch.</li>
      </ol>


      <p>If you still want to share your project to the old social sharing site, then continue below:</p>
            </div>
<div class="modal-body">
  <label ng-hide="shareLink">Share Project as:</label>
  <label ng-show="shareLink&&(projectId==='')">Uploading project. Please wait...</label>
  <input ng-model="projectName" type="text" ng-hide="shareLink">
  <a target="_blank" id="idshareurl" ng-href="http://earsketch.gatech.edu/media/projects/edit/{{projectId}}" ng-show="projectId!==''">Your project has been shared.<br/> Click here to enter additional information about your project</a>   
</div>
<div class="modal-footer">

  <button class="btn btn-primary" ng-click="share(projectName)" ng-hide="shareLink" ng-disabled="shareDisabled">Share</button>
  <button class="btn btn-warning" ng-click="cancel()">Exit</button>
</div>
