<div class="share-script">
    <div class="modal-header">
        <h4 class="modal-title">
            <i class="icon icon-share2" ></i>&nbsp;Share&nbsp;"{{script.name}}"
        </h4>
    </div>
    <div class="modal-body">
        <!-- caution: tabset seems to create a child scope, not bound to the original scope -->
        <uib-tabset class="es-modal-tabcontainer" active="activeMenu" type="pills" justified="true">
            <uib-tab index="menus.link">
                <uib-tab-heading>LET OTHERS VIEW</uib-tab-heading>
                <div class="share-script-menu-descriptions">
                    {{menuDescriptions.link}}
                </div>
                <div>
                    <div class="modal-section-header">
                        <span>
                            <i class="icon icon-copy" style="color:#6DFED4;"></i>
                            Sharable View-only Link
                        </span>
                        <div class="btn-group" uib-dropdown auto-close="outsideClick">
                            <button type="button" class="btn btn-filter dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                                <span ng-hide="showLockedShareLink">
                                    SHARE FUTURE CHANGES
                                </span>
                                <span ng-show="showLockedShareLink">
                                    SHARE ONLY CURRENT VERSION
                                </span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#" ng-click="toggleShowLockedShareLink()">
                                        <div>
                                            <div>
                                                <span ng-show="showLockedShareLink">
                                                    SHARE FUTURE CHANGES
                                                </span>
                                                <span ng-hide="showLockedShareLink">
                                                    SHARE ONLY CURRENT VERSION
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="share-link-container" style="margin-top:15px;">
                        <div class="share-link">
                            <span ng-show="!showLockedShareLink">{{sharelink}}</span>
                            <span ng-hide="!showLockedShareLink">{{lockedShareLink}}</span>
                        </div>
                        <div>
                            <span class="download-share-url" ng-click="downloadShareUrl()"><i class="glyphicon glyphicon-download-alt" uib-tooltip="Download URL shortcut file" tooltip-placement="bottom" tooltip-append-to-body="true"></i></span>
                            <span class="copy-share-link" ng-hide="showLockedShareLink" clipboard text="sharelink" uib-popover="Copied!" popover-placement="top-right" popover-animation="true" popover-trigger="outsideClick"><i class="icon icon-paste4" uib-tooltip="Copy To Clipboard" tooltip-placement="bottom" tooltip-append-to-body="true"></i></span>
                            <span class="copy-share-link" ng-hide="!showLockedShareLink" clipboard text="lockedShareLink" uib-popover="Copied!" popover-placement="top-right" popover-animation="true" popover-trigger="outsideClick"><i class="icon icon-paste4" uib-tooltip="Copy To Clipboard" tooltip-placement="bottom" tooltip-append-to-body="true"></i></span>
                        </div>
                    </div>
                    <hr style="margin-top:10px;">

                    <div>
                        <div class="modal-section-header">
                            <span>
                                <i class="icon icon-copy" style="color:#6DFED4;"></i>
                                Send View-only Script to Other Users
                            </span>
                        </div>
                        <div style="margin-top:15px; display:flex; justify-content:space-between;">
                            <form>
                                <div class="share-people-chip" ng-repeat="p in viewers.list track by $index">
                                    <span style="margin-right: 3px" ng-style="{color: p.exists ? setPillFontColor() : 'red'}">{{p.id}}</span>
                                    <span ng-click="removeId($index, 'viewers')" style="cursor: pointer; cursor: hand; color: #C25452">X</span>
                                </div>
                                <!-- #1858 -->
                                <input ng-model="viewers.query" style="background: transparent; border: none; outline: none; flex-grow: 1; width: 24em;" placeholder="Type user ID, then hit enter." ng-keydown="processQueryInput($event, 'viewers')" ng-blur="queryId('viewers')" autofocus>
                            </form>
                            <!--<span class="send-share-script" ng-show="viewers.ready" ng-click="sendViewOnlyScript()">-->
                                <!--<i class="icon icon-share22" uib-tooltip="Send Script" tooltip-placement="bottom" tooltip-append-to-body="true"></i>-->
                            <!--</span>-->
                        </div>
                        <hr style="margin-top:10px;">
                        <div ng-show="viewers.hasError" class="share-people-error">{{viewers.errorMessage}}</div>
                    </div>
                </div>

                <!--<div>-->
                    <!--<div class="modal-section-header">-->
                        <!--<span>-->
                            <!--<i class="icon icon-users" style="color:#6DFED4;"></i>-->
                            <!--Add or Remove Collaborators-->
                        <!--</span>-->
                    <!--</div>-->
                    <!--<div style="margin-top:15px;">-->
                        <!--<form>-->
                            <!--<div class="share-people-chip" ng-repeat="p in collaborators.list track by $index">-->
                                <!--<span style="margin-right: 3px" ng-style="{color: p.exists ? setPillFontColor() : 'red'}">{{p.id}}</span>-->
                                <!--<span ng-click="removeId($index, 'collaborators')" style="cursor: pointer; cursor: hand; color: #C25452">X</span>-->
                            <!--</div>-->
                            <!--<input ng-model="collaborators.query" style="background: transparent; border: none; outline: none; flex-grow: 1; width: 12em;" placeholder="Type user ID, then hit enter" ng-keydown="processQueryInput($event, 'collaborators')" ng-blur="queryId('collaborators')" autofocus>-->
                        <!--</form>-->
                    <!--</div>-->
                    <!--<hr style="margin-top:10px;">-->
                    <!--<div ng-show="collaborators.hasError" class="share-people-error">{{collaborators.errorMessage}}</div>-->
                <!--</div>-->
            </uib-tab>

            <uib-tab index="menus.collaboration">
                <uib-tab-heading>LET OTHERS EDIT</uib-tab-heading>
                <div class="share-script-menu-descriptions">
                    {{menuDescriptions.collaboration}}
                </div>
                <div>
                    <div class="modal-section-header">
                        <span>
                            <i class="icon icon-users" style="color:#6DFED4;"></i>
                            Add or Remove Collaborators
                        </span>
                    </div>
                    <div style="margin-top:15px;">
                        <form>
                            <div class="share-people-chip" ng-repeat="p in collaborators.list track by $index">
                                <span style="margin-right: 3px" ng-style="{color: p.exists ? setPillFontColor() : 'red'}">{{p.id}}</span>
                                <span ng-click="removeId($index, 'collaborators')" style="cursor: pointer; cursor: hand; color: #C25452">X</span>
                            </div>
                            <!-- #1858: TODO -- Existing collaborators are listed in all lowercases! -->
                            <input ng-model="collaborators.query" style="background: transparent; border: none; outline: none; flex-grow: 1; width: 24em;" placeholder="Type user ID, then hit enter." ng-keydown="processQueryInput($event, 'collaborators')" ng-blur="queryId('collaborators')" autofocus>
                        </form>
                    </div>
                    <hr style="margin-top:10px;">
                    <div ng-show="collaborators.hasError" class="share-people-error">{{collaborators.errorMessage}}</div>
                </div>
            </uib-tab>




            <uib-tab index="menus.embedded">
                <uib-tab-heading>SHARE AN EMBEDDED SCRIPT</uib-tab-heading>
                <div class="share-script-menu-descriptions">
                    {{menuDescriptions.embedded}}
                </div> 
                <div>
                    <div class="modal-section-header">
                        <span>
                            <i class="icon icon-copy" style="color:#6DFED4;"></i>
                            Embeddable IFrame code
                        </span>
                        <form name="myForm" >
                            <label>Show Code: <input type="checkbox" ng-model="showCode" ng-init="showCode=true" ng-change="selectEmbeddingType()"></label>
                            <label>Show Daw: <input type="checkbox" ng-model="showDaw" ng-init="showDaw=true" ng-change="selectEmbeddingType()"></label>
                         </form>
                    </div>
                    <div id="share-link-container" style="margin-top:15px;">
                        <div class="share-link">
                            <span >{{embeddedIFrameCode}}</span>
                        </div>
                        <div>
                            <span class="copy-share-link" clipboard text="embeddedIFrameCode" uib-popover="Copied!" popover-placement="top-right" popover-animation="true" popover-trigger="outsideClick"><i class="icon icon-paste4" uib-tooltip="Copy To Clipboard" tooltip-placement="bottom" tooltip-append-to-body="true"></i></span>
                        </div>
                    </div>
                    <hr style="margin-top:10px;">
                </div>
            </uib-tab>




            <uib-tab index="menus.soundcloud">
                <uib-tab-heading>SHARE ON SOUNDCLOUD</uib-tab-heading>
                <div class="share-script-menu-descriptions">
                    {{menuDescriptions.soundcloud}}
                </div>
                <div class="modal-section-header">
                    <span>
                        <i class="icon icon-soundcloud" style="color:#6DFED4;"></i>
                        Song Name
                    </span>
                </div>
                <form role="form">
                    <textarea class="form-control" style="border:0;" rows="1" placeholder="Click here to start typing..." ng-model="sc.options.name"></textarea>
                </form>
                <hr style="margin-top:0;">

                <div class="modal-section-header">
                    <span>What can others do with your song on SoundCloud?</span>
                </div>
                <div class="container" id="sc-options-container">
                    <div class="row" style="margin:10px 0; justify-content:space-between; display:flex;">
                        <div ng-repeat="accessType in sc.userAccess track by $index" style="color:#8c8c8c; margin-top:10px; padding:0;" class="radio-inline">
                            <label>
                                <input type="radio" name="useraccess" ng-model="sc.selectedUserAccess" ng-value="$index"/>
                                <span></span>{{accessType}}
                            </label>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>

    <div class="modal-footer" style="border-top: 0;">
        <uib-accordion>
            <div uib-accordion-group class="panel-default" heading="More Details (Description, License)...">
                <div class="form-group" style="text-align:left;">
                    <div class="modal-section-header">
                        <span>Description (optional)</span>
                    </div>
                    <form role="form">
                        <textarea class="form-control" style="border:0;" rows="2" placeholder="Click here to start typing..." ng-model="data.scriptDesc" maxlength="500"></textarea>
                    </form>
                </div>

                <div style="text-align:left;">
                    <div class="modal-section-header">
                        <span>License Type</span>
                    </div>

                    <div class="container" id="share-licenses-container">
                        <div class="row" style="margin-top:10px; justify-content:space-between; display:flex;">
                            <div ng-repeat="license in licenses track by $index" style="color:#8c8c8c; margin-top:10px; padding:0;" class="radio-inline">
                                <label>
                                    <!-- ng-repeat creates a child scope, so ng-model here has to use $parent -->
                                    <input type="radio" name="optradio" ng-model="$parent.data.selectedLicenseId" ng-value="license.id"/>
                                    <span></span>{{license.license}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="description" style="margin:10px 0;padding:10px;">
                        {{licenses[data.selectedLicenseId].licenseDesc}} Click <a ng-href="{{getLicenseLink(data.selectedLicenseId)}}" target="_blank">here</a> to see more.
                    </div>
                </div>
            </div>
        </uib-accordion>

        <div ng-show="sc.message.show" style="height:3em; line-height:3em; text-align:center;" ng-style="{'background-color':sc.message.color}">
            <span ng-show="sc.message.spinner"><i class="spinner icon icon-spinner"></i></span> {{sc.message.text}}
        </div>

        <div style="text-align:right; height:3em; line-height:3em;">
            <span ng-click="close()"><a href="#" style="color:#d04f4d;margin-right:14px;"><i class="icon icon-cross2"></i>CANCEL</a></span>
            <span ng-show="activeMenu === menus.link" ng-click="sendViewOnlyScript()"><a href="#" ng-style="{'color': !viewers.hasError ? '#76aaff' : '#777', 'cursor': !viewers.hasError ? 'pointer' : 'default'}"><i class="icon icon-checkmark"></i>SAVE{{viewers.ready ? ' and SEND' : ''}}</a></span>
            <!--<span ng-show="activeMenu === menus.link" ng-click="shareLinkDone()"><a href="#"><i class="icon icon-checkmark"></i>DONE</a></span>-->
            <span ng-show="activeMenu === menus.collaboration" ng-click="manageCollaborators()"><a href="#" ng-style="{'color': !collaborators.hasError ? '#76aaff' : '#777', 'cursor': !collaborators.hasError ? 'pointer' : 'default'}"><i class="icon icon-checkmark"></i>SAVE</a></span>
            <!--<span ng-show="activeMenu === menus.people" ng-click="sendViewOnlyScript()"><a href="#" ng-style="{'color': viewers.ready ? '#76aaff' : '#777', 'cursor': viewers.ready ? 'pointer' : 'default'}"><i class="icon icon-checkmark"></i>SHARE</a></span>-->
            <span ng-show="activeMenu === menus.soundcloud" ng-click="shareSoundCloud()"><a href="#"><i class="icon icon-checkmark"></i>UPLOAD</a></span>
        </div>
    </div>
</div>

