<h2> Slides </h2>

<button data-toggle="collapse" class="btn btn-xs" data-target="#slides-nav">Slide Table of Contents</button>

<ul id="slides-nav" class="collapse in">
    <li>Unit 1</li>
    <ul>
        <li><a href="javascript:void(0);" ng-click="loadLesson('teachermaterials/unit1lesson1.html')">Lesson 1</a></li>
        <li><a href="javascript:void(0);" ng-click="loadLesson('teachermaterials/unit1lesson2.html')">Lesson 2</a></li>
        <li><a href="javascript:void(0);" ng-click="loadLesson('teachermaterials/unit1lesson3.html')">Lesson 3</a></li>
        <li><a href="javascript:void(0);" ng-click="loadLesson('teachermaterials/unit1lesson4.html')">Lesson 4</a></li>
        <li><a href="javascript:void(0);" ng-click="loadLesson('teachermaterials/unit1lesson5.html')">Lesson 5</a></li>
        <li><a href="javascript:void(0);" ng-click="loadLesson('teachermaterials/unit1lesson6.html')">Lesson 6</a></li>
    </ul>

    <li>Unit 2</li>
    <ul>
        <li><a href="javascript:void(0);" ng-click="loadLesson('teachermaterials/unit2lesson7.html')">Lesson 7</a></li>
        <li><a href="javascript:void(0);" ng-click="loadLesson('teachermaterials/unit2lesson8.html')">Lesson 8</a></li>
        <li><a href="javascript:void(0);" ng-click="loadLesson('teachermaterials/unit2lesson9.html')">Lesson 9</a></li>
        <li><a href="javascript:void(0);" ng-click="loadLesson('teachermaterials/unit2lesson10.html')">Lesson 10</a></li>
        <li><a href="javascript:void(0);" ng-click="loadLesson('teachermaterials/unit2lesson11.html')">Lesson 11</a></li>
    </ul>
</ul>

<div id="slides-content">

</div>
