<div class="sidebar-inner ui-layout-center" role="navigation" style="float:left; height:100%; width:100%; margin-top:-6px;" onresize="updateNumPages()">
    <a id="top" href=""></a><div id="deploySentinel" class="v1" style="display: none;"></div>
    <div class="sb-upload" style="float:left; height:100%; width:100%;">
        <div class="sound-browser" id="sound-browser">
            <div class="pull-left panel-label sb-title" style="margin-top:3px;">
                <i class="icon icon-sound-browser"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i> <span>Sound Browser
				</span>
            </div>

            <div class="pull-left panel-label" id="add-sound">
				<span>
					<button class="btn btn-sm btn-add-sound shake" ng-click="uploadModal()" ng-class="{'notAllowedTo':notAllowedToAddSound, '':!notAllowedToAddSound}">
                        <i class="icon icon-plus2"></i>
                        ADD YOUR OWN SOUND
                    </button>
                </span>
            </div>
            <div id="sound-search" class="pull-left panel-label" ng-show="soundsLoaded">
                <i class="icon icon-search browser-icon-search"></i>
                <form>
                    <input ng-model="searchTerm" class="search-bar" size="200" ng-model-options="{debounce: 500}" ng-change="updateFilters('search')" class="empty search-field" id="iconified" placeholder="Search for a sound">
                </form>
                <button id="search-reset" class="btn btn-xs btn-primary" ng-show="searchTerm.length > 0" ng-click="searchTerm=''; updateFilters('search')">X</button>
            </div>

            <div class="pull-left panel-label" id="filter-title">
                <i class="icon icon-filter2"></i>
                Filter the Sounds
            </div>
            <div class="row">
                <button type="button" class="btn btn-show-fav btn-hollow btn-filter" ng-click="updateFilters('favorite','true'); showOnlyFavorites = !showOnlyFavorites;" ng-class="showOnlyFavorites ? 'active':''"  ng-show="showFavorites() && hasFavorites()">
                    <span>SHOW ONLY FAVORITES</span>
                </button>
            </div>
            <div class="row sb-tags filter-body" ng-show="soundsLoaded">
                <div class="btn-folder" uib-dropdown auto-close="outsideClick">
                    <button type="button" class="btn btn-filter dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                        Artists
                        <span span ng-hide="filters.artist.length > 0"></span>
                        <span ng-show="filters.artist.length > 0">({{filters.artist.length}})</span>
                        <span class="caret" style="right:10px;"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" ng-click="selectAll('artist')">
                                Select All
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="clearAll('artist')">
                                Clear
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li ng-repeat="i in filteredArtists">
                            <a href="#" ng-click="updateFilters('artist', i.artist)">
                                <div class="item">
                                    <div class="selected">
                                        <i class="glyphicon glyphicon-ok" ng-show="filters.artist.indexOf(i.artist)>-1"></i>
                                    </div>
                                    <div>
                                        {{::i.artist}}
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="btn-folder" uib-dropdown auto-close="outsideClick">
                    <button type="button" class="btn btn-filter dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                        Genres<span span ng-hide="filters.genre.length > 0"></span>
                        <span ng-show="filters.genre.length > 0">({{filters.genre.length}})</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" ng-click="selectAll('genre')">
                                Select All
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="clearAll('genre')">
                                Clear
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li ng-repeat="i in filteredGenres">
                            <a href="#" ng-click="updateFilters('genre', i.genre)">
                                <div class="item">
                                    <div class="selected">
                                        <i class="glyphicon glyphicon-ok" ng-show="filters.genre.indexOf(i.genre)>-1"></i>
                                    </div>
                                    <div>
                                        {{::i.genre}}
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="btn-folder" uib-dropdown auto-close="outsideClick">
                    <button type="button" class="btn btn-filter dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                        Instruments
                        <span ng-show="filters.instrument.length > 0">({{filters.instrument.length}})</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" style="left:auto; right:0;">
                        <li>
                            <a href="#" ng-click="selectAll('instrument')">
                                Select All
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="clearAll('instrument')">
                               Clear
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li ng-repeat="i in filteredInstruments">
                            <a href="#" ng-click="updateFilters('instrument', i.instrument)">
                                <div class="item">
                                    <div class="selected">
                                        <i class="glyphicon glyphicon-ok" ng-show="filters.instrument.indexOf(i.instrument)>-1"></i>
                                    </div>
                                    <div>
                                        {{::i.instrument}}
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pull-left panel-label list-title">
                <i class="icon icon-headphones"></i>
                Sound Collections
            </div>
            <div ng-hide="filteredSounds.length > 0" class="panel-label">No matches found</div>
            <resize-div id="soundbrowserbody" class="sound-browser-body" style="left: 0px;" ng-style="{'top': {true:'276px', false:'250px'}[showFavorites() && hasFavorites()]}">
                <div ng-repeat="folder in folderList | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                    <div class="ellipsis-long sound-folder" ng-show="folder.length > 0" title="{{folder}}">
                        <div class="folder-info">
                            <div id="folder-name" ng-hide="recLabels.includes(folder)">
                                {{folder}}

                                <button class="btn btn-xs btn-action" ng-show="folderVisibility[folder]" ng-click="updateFolderVisibility(folder)" title="Hide sounds in folder"><i class="icon icon-arrow-down"></i>
                                </button>
                                <button class="btn btn-xs btn-action" ng-show="!folderVisibility[folder]" ng-click="updateFolderVisibility(folder)" title="Show sounds in folder"><i class="icon icon-arrow-right"></i>
                                </button>
                            </div>
                            <div id="folder-name-special" ng-show="recLabels.includes(folder)" title="{{recDescriptions[folder]}}" style="text-shadow: 1px 1px #FF0000;">
                                {{folder}}

                                <button class="btn btn-xs btn-action" ng-show="folderVisibility[folder]" ng-click="updateFolderVisibility(folder)" title="Hide sounds in folder"><i class="icon icon-arrow-down"></i>
                                </button>
                                <button class="btn btn-xs btn-action" ng-show="!folderVisibility[folder]" ng-click="updateFolderVisibility(folder)" title="Show sounds in folder"><i class="icon icon-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="sound in orderedSounds | filter: { folder: folder}">
                        <div class="sb-files btn-toolbar"  ng-show="folderVisibility[folder]" ng-style="sound.wasLastPlayed && {'background-color': 'rgba(119, 136, 153, 0.5'}" style="width:100%;">
        					<span class="right" ng-style="fontSize">
        						<button class="btn btn-xs btn-action" ng-hide="sound.playing" ng-click="play()" title="Play Sound Clip"><i class="icon icon-play4"></i></button>
        						<button class="btn btn-xs btn-action" ng-show="sound.playing" ng-click="stop()" title="Stop"><i class="icon icon-stop2"></i></button>

                                <span ng-show="showFavorites()">
                                    <button class="btn btn-xs btn-action" ng-show="!sound.favorite" ng-click="toggleFavourites(sound)">
                                        <i class="icon icon-star-empty3 fav-icon" title="Add to Favorites"></i>
                                    </button>
                                    <button class="btn btn-xs btn-action" ng-show="sound.favorite" ng-click="toggleFavourites(sound)">
                                        <i class="icon icon-star-full2 fav-icon" title="Remove from Favorites" ></i>
                                    </button>
                                </span>

        						<button class="btn btn-xs btn-action" ng-show="numTabsOpen > 0" ng-click="pasteName()" title="Paste Sound Constant to the Editor"><i class="icon icon-paste2"></i></button>

        						<button class="btn btn-xs btn-action" ng-show="soundIsChangeable(sound.artist)" ng-click="renameSound(sound)" title="Rename Sound Clip"><i class="icon icon-pencil3"></i></button>

        						<button class="btn btn-xs btn-action" ng-show="soundIsChangeable(sound.artist)" ng-click="deleteSound(sound)" title="Delete Sound Clip"><i class="icon icon-backspace"></i></button>

        					</span>

                            <script type="text/ng-template" id="sound-browser-tooltip.html">
                                <span class="info-field">File:</span> <span>{{::sound.file_key}}</span>
                                <span class="info-field">Folder:</span> <span>{{::sound.folder}}</span>
                                <span class="info-field">Artist:</span> <span>{{::sound.artist}}</span>
                                <span class="info-field">Genre:</span> <span>{{::sound.genre}}</span>
                                <span class="info-field">Instrument:</span> <span>{{::sound.instrument}}</span>
                                <span class="info-field">Original Tempo:</span> <span>{{sound.tempo !== -1 ? sound.tempo : 'undefined' }}</span>
                                <span class="info-field">Year:</span> <span>{{::sound.year}}</span>
                            </script>

                            <div class="ellipsis-long sound-file-key" ng-style="fontSize" uib-tooltip-template="'sound-browser-tooltip.html'" tooltip-placement="{{tooltipPlacement(sound,folder,(currentPage-1)*entryLimit)}}" tooltip-popup-delay="500" data-filetype="txt">
                                {{::sound.file_key}}
                            </div>
                        </div>
                    </div>
                </div>
            </resize-div>
            <div class= "sound-browser-footer">
                <div uib-pagination boundary-links="true" max-size="maxSize" num-pages="noOfPages" total-items="folderList.length" ng-model="currentPage" ng-change="pageChanged()" items-per-page="entryLimit" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-show="soundsLoaded" style="margin-left:-10px;">
                </div>
                <div id="results-numbox" ng-show="soundsLoaded" class="panel-label">
                    Displaying {{entryLimit}} items in {{noOfPages}} page(s).
                </div>
            </div>
        </div>
    </div>
</div>
