<div class="share-script">
    <div class="modal-header">
        <h4 class="modal-title">
            <i class="icon icon-share2" ></i>&nbsp;Submit&nbsp;"{{script.name}}" to Competition
        </h4>
    </div>
    <div class="modal-body">
        <!-- caution: tabset seems to create a child scope, not bound to the original scope -->
        <div class="share-script-menu-descriptions text-3xl">
            Enter your script to the <a href="https://www.amazonfutureengineer.com/yourvoiceispower" target="_blank"> Competition.</a>
        </div>
        <div>
            <!-- <div class="modal-section-header">
                <span>
                    <i class="icon icon-copy" style="color:#6DFED4;"></i>
                    Sharable View-only Link
                </span>
            </div> -->
            <!-- <div id="share-link-container" style="margin-top:15px;">
                <div class="share-link">
                    <span ng-show="!showLockedShareLink">{{sharelink}}</span>
                    <span ng-hide="!showLockedShareLink">{{lockedShareLink}}</span>
                </div>
                <div>
                    <span class="download-share-url" ng-click="downloadShareUrl()"><i class="glyphicon glyphicon-download-alt" uib-tooltip="Download URL shortcut file" tooltip-placement="bottom" tooltip-append-to-body="true"></i></span>
                    <span class="copy-share-link" ng-hide="showLockedShareLink" clipboard text="sharelink" uib-popover="Copied!" popover-placement="top-right" popover-animation="true" popover-trigger="outsideClick"><i class="icon icon-paste4" uib-tooltip="Copy To Clipboard" tooltip-placement="bottom" tooltip-append-to-body="true"></i></span>
                    <span class="copy-share-link" ng-hide="!showLockedShareLink" clipboard text="lockedShareLink" uib-popover="Copied!" popover-placement="top-right" popover-animation="true" popover-trigger="outsideClick"><i class="icon icon-paste4" uib-tooltip="Copy To Clipboard" tooltip-placement="bottom" tooltip-append-to-body="true"></i></span>
                </div>
            </div> -->
            <!-- <div style="text-align: center; color:lightgray;">
                Copy the above link and paste it into the submission form.
            </div> -->
            <hr style="margin-top:10px;">
            <uib-accordion>
            <div uib-accordion-group heading="More Information">
                <div class="form-group text-3xl" style="text-align:center;">
                    <div class="modal-section-header">
                        <span>Competition Rules</span>
                    </div>
                    <ul class="list-disc text-left p-10 pb-0">
                        <li>Submission deadline for Round 1 is 11:59PM EST on March 12, 2021.</li>
                        <li>Submission deadline for Round 2 is 11:59PM EST on June 4, 2021.</li>
                        <li>Students may work individually or in pairs.</li>
                        <li>Students may submit multiple entries, but a winning submission from Round 1 may not be submitted for Round 2.</li>
                        <li>Open to middle and high school students in the US and Canada.</li>
                        <li>Must include at least one musical stem from Pharrell & Jay-Z's "Entrepreneur."</li>
                        <li>Must be 30 seconds to 3 minutes in length.</li>
                        <li>Code must run without errors.</li>
                        <li>For more information, please visit the <a href="https://www.amazonfutureengineer.com/yourvoiceispower" target="_blank">competition website</a>.</li>
                    </ul>
                </div>
            </div>
        </uib-accordion>
            <hr style="margin-top:10px;">
            <div style="text-align: center; margin: auto;">
                <a id="submitToPopulyButton" ng-click="updatePopulyLink()"><button style="min-width: 270px; font-size: 26px; color: black; background: #D3D25A;">Click Here to Submit </button></a>
            </div>
        </div>
    </div>

    <div class="modal-footer" style="border-top: 0;">
        <div style="text-align:right; height:3em; line-height:3em;">
            <span ng-click="close()"><a href="#" style="color:#d04f4d;margin-right:14px;"><i class="icon icon-cross2"></i>CANCEL</a></span>
        </div>
    </div>
</div>

