<!-- <div class="modal-header shrink" id="upload-sound-header">
    <h3>Add Your Own Sounds</h3>
</div>
 -->
 <div class="modal-header" >
    <h4 class="modal-title">
        Add a New Sound
    </h4>
</div>
<div class="modal-body transparent">
    <uib-tabset class="es-modal-tabcontainer" id="upload-sound-tabcontainer" active="activePill" type="pills" justified="true">
        <uib-tab index="menus.upload">
            <uib-tab-heading>
                <span><i class="icon icon-cloud-upload"></i></span>
                <span>UPLOAD NEW SOUND</span>
            </uib-tab-heading>
            <div class="alert alert-danger" ng-show="uploadError">
                {{uploadError}}
            </div>
            <div>
                <div class="upload-file">
                    <input class="inputfile" type="file" id="file" file-model="file.data" onchange="angular.element(this).scope().showUploadButton('file')" />
                    <label for="file" id="inputlabel">
                        <span><i class="icon icon-cloud-upload"></i></span>
                        <span>{{chosenfilename}}</span>
                        <kbd class="kbd" ng-show="isWav">.wav</kbd>
                        <kbd class="kbd" ng-show="isAiff">.aiff</kbd>
                        <kbd class="kbd" ng-show="isMp3">.mp3</kbd>
                    </label>
                </div>
                <div class="modal-section-header">
                    <span>Constant Value (required)</span>
                    <span>Tempo (Optional)</span>
                </div>
                <div class="modal-section-body" id="upload-details">
                    <input type="text" placeholder="e.g. MYSYNTH_01" class="form-control shake" id="key" ng-model="file.key" ng-change="showUploadButton()">
                    <input type="text" placeholder="e.g. 120" class="form-control shake" id="tempo" ng-model="file.tempo">
                </div>
                <!-- <div class="row">
                    <div class='col-md-9'>
                        <div class="form-group">
                            
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='col-md-9'>
                        <div class="form-group">
                            <label for="key">Tempo (optional)</label>
                            <input type="text" placeholder="e.g. 120" class="form-control shake" id="tempo" ng-model="file.tempo">
                        </div>
                    </div>
                </div> -->
            </div>
        </uib-tab>
        <uib-tab index="menus.record" ng-init="openRecordMenu();">
            <uib-tab-heading> 
                <span><i class="icon icon-microphone"></i></span>
                <span>QUICK RECORD</span>
            </uib-tab-heading>
            <div class="alert alert-danger" ng-show="uploadError">
                {{uploadError}}
            </div>
            <div class="alert alert-danger" ng-show="recError">
                {{recError}}
            </div>
            <div class="alert alert-danger" ng-show="micAccessError">
                <p>{{micAccessMessage}}</p>
                <!-- <img src="img/chrome_mic_noaccess.png" />
                <img src="img/ff_mic_noaccess.png" />
                <img src="img/chrome_mic_noaccess.png" /> -->
                <span class="shake" ng-class="{'notAllowedTo':notAllowedToRecord, '':!notAllowedToRecord}">
                    <button class="buttonmodal" ng-click="openRecordMenu()">ENABLE MIC AND CLICK HERE TO TRY AGAIN.</button>
                </span>
            </div>
            <div ng-hide="recError || micAccessError">
                <div class="modal-section-header">
                    <span>Constant Value (required)</span>
                </div>
                <div class="modal-section-content"> 
                    <input type="text" placeholder="e.g. MYRECORDING_01" class="form-control" id="key" ng-model="file.key" ng-change="showUploadButton()">
                </div>
                <div class="modal-section-header">
                    <span>Measures Control</span>
                    <button type="button" class="btn btn-hollow btn-filter" ng-show="recorder.properties.useMetro" ng-class="recorder.properties.clicks ? 'active' : ''" ng-click="recorder.properties.clicks = !recorder.properties.clicks">
                        <span>CLICK WHILE RECORDING</span>
                    </button>
                    <button type="button" class="btn btn-hollow btn-filter" ng-class="recorder.properties.useMetro ? 'active' : ''" ng-click="recorder.properties.useMetro = !recorder.properties.useMetro">
                        <span>METRONOME</span>
                    </button>
                </div>
                <div class="modal-section-content" ng-show="recorder.properties.useMetro" id="count-measures-input">
                    <div>
                        <label>Tempo (beats per minute)</label>
                        <input type="text" placeholder="e.g. 120" ng-model="recorder.properties.bpm">
                        <input id="tempoSlider" type="range" ng-model="recorder.properties.bpm" name="rangeTempo" min="45" max="220">
                    </div>
                    <div>
                        <label>Countoff Measures</label>
                        <input type="text" placeholder="{{recorder.properties.countoff}}" ng-model="recorder.properties.countoff">
                    </div>
                    <div>
                        <label>Measures to Record</label>
                        <input type="text" placeholder="{{recorder.properties.numMeasures}}" ng-model="recorder.properties.numMeasures">
                    </div>
                </div>
                <div class="modal-section-header">
                    <span>Record Sound</span>
                    <div id="levelmeter-container">
                        <level-meter></level-meter>
                    </div>
                </div>
                <div class="modal-section-content" id="record-section-container">
                    <div id="metronome">
                        <visual-metronome></visual-metronome>
                    </div>       
                    <div id="waveform">
                        <draw-waveform id="wavedisplay"></draw-waveform>
                    </div>
                    <button type="button" id="record-clear-button" class="btn btn-hollow btn-filter" ng-show="recorder.hasBuffer" ng-click="recorder.clear(true);">
                        <span>CLEAR</span>
                    </button>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="menus.freesound">
            <uib-tab-heading> 
                <span><i class="icon icon-search"></i></span>
                <span>FREESOUND</span>
            </uib-tab-heading>
            <div class="alert alert-danger" ng-show="uploadError">
                {{uploadError}}
            </div>
            <!-- <form name="searchform" ng-submit="searchFreesound();" ng-model="searchform" class="freesoundSearchForm" novalidate> -->
            <div>
                <a href="http://freesound.org/" target="_blank">Freesound.org</a> is an online database with thousands of free audio clips, including everything from music to field recordings, all licensed under Creative Commons licenses. EarSketch allows you to search the Freesound database without having to leave the EarSketch site. Try it below! 
            </div>
            <div class="search-block">
                    <input class="form-control shake form-search" placeholder="Enter your sound search query here" ng-model="searchform.searchQuery" type="text" required /> 
                    <button ng-click="searchFreesound()" class="btn btn-hollow btn-filter">SEARCH</button>
            </div>
            <!-- </form> -->
            <p>
                <div class="modal-section-header">
                    <span ng-hide="freesoundResults.length === 0">Results</span>
                </div>
                <div ng-repeat="result in freesoundResults">
                    
                     <!--<iframe frameborder="0" class="shake" ng-src="{{url.trustedIframe}}" height="30" width="375" target="_blank"></iframe> -->
                    <div ng-show="(currentPage-1)*entryLimit <= result.resultIndex && result.resultIndex < currentPage*entryLimit">
                        <div>{{result.name}}: {{result.bpm | number:1}} bpm. Uploaded by Freesound user {{result.creator}}</div>
                        <audio controls>
                            <source ng-src="{{result.trustedFile}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                        </audio>
                        <span ng-click="selectFreesoundResult(result.resultIndex)">
                            <span> &nbsp; &nbsp;</span>
                            <i class="ng-class: freesoundChoice === result.resultIndex ? 'icon selection icon-checkmark' : 'icon selection icon-plus2'"></i>
                        </span>
                        <p></p>
                    </div>
                </div>
                <div ng-show="freesoundResults.length === 0 && firstSearchExecuted">
                    <br>No results<br>
                </div>
            </p>
            <div class="modal-section-body" id="upload-details">
                <input type="text" placeholder="e.g. MYSOUND_01" class="form-control shake" id="key" ng-model="file.key">
                <!-- <input type="text" placeholder="e.g. 120" class="form-control shake" id="tempo" ng-model="file.tempo"> -->
            </div>
            <uib-pagination boundary-links="true" max-size="maxSize" num-pages="noOfPages" total-items="freesoundResults.length" ng-model="currentPage"  items-per-page="entryLimit" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-show="freesoundResults.length > 0"></uib-pagination>
        </uib-tab>
        <uib-tab index="menus.tunepad">
            <uib-tab-heading>
                <span><i class="icon icon-cloud-upload"></i></span>
                <span>TUNEPAD</span>
            </uib-tab-heading>
            <div class="alert alert-danger" ng-show="uploadError">
                {{uploadError}}
            </div>
            <div>
                <div ng-show="isSafari" style="text-align:center; margin:2em;">
                    Sorry, TunePad in EarSketch currently does not work in Safari. Please use Chrome or FireFox.
                </div>
                <iframe ng-show="!isSafari" name="tunepadIFrame" id="tunepadIFrame" allow="microphone https://tunepad.xyz/ https://tunepad.live/" width="100%" height="500px">IFrames are not supported by your browser.</iframe>
            </div>
            <div class="modal-section-body" id="upload-details">
                <input type="text" placeholder="e.g. MYSYNTH_01" class="form-control shake" id="key" ng-model="file.key" ng-change="showUploadButton()">
            </div>
        </uib-tab>

        <uib-tab index="menus.groovemachine" ng-click="openGrooveMachineMenu();">
            <uib-tab-heading>
                <span><i class="icon icon-cloud-upload"></i></span>
                <span>GROOVEMACHINE</span>
            </uib-tab-heading>
            <div class="alert alert-danger" ng-show="uploadError">
                {{uploadError}}
            </div>
            <div>
                  <iframe name="gmIFrame" id="gmIFrame" allow="microphone"  width="100%" height="500px">IFrames are not supported by your browser.</iframe>
            </div>
            <div class="modal-section-body" id="upload-details">
                <input type="text" placeholder="e.g. MYSYNTH_01" class="form-control shake" id="key" ng-model="file.key" ng-change="showUploadButton()">
            </div>
        </uib-tab>

    </uib-tabset>
</div>

<div class="modal-footer">
    <div ng-show="startLoading" id="progressbar"> 
        <div class="col-sm-12">
            <uib-progressbar animate="true" value="progressBarValue" type="success"><b>{{progressBarValue}}%</b></uib-progressbar>
        </div>
    </div>
    <a class="buttonmodal" ng-click="uploadFile()" ng-show="readyToUpload && activePill == menus.upload"><span><i class="icon icon-cloud-upload"></i></span>UPLOAD SOUND FILE</a>
    <a class="buttonmodal" ng-click="uploadFile()" ng-show="readyToUpload && activePill == menus.record"><i class="icon icon-microphone"></i>UPLOAD RECORDED FILE</a>
    <a class="buttonmodal" ng-click="saveTunepadWavData()" ng-show="!!file.key && activePill == menus.tunepad && tunepadIsShowingProjectPage"><i class="icon icon-microphone"></i>UPLOAD TUNEPAD FILE</a>
    <a class="buttonmodal" ng-click="saveGrooveMachineWavData()" ng-show="activePill == menus.groovemachine && gmReady"><i class="icon icon-microphone"></i>UPLOAD GROOVEMACHINE FILE</a>
    <a class="buttonmodal" ng-click="saveFreesoundToServer()" ng-show="freesoundChoice != -1 && activePill == menus.freesound"><span><i class="icon icon-cloud-upload"></i></span>SAVE FREESOUND FILE</a>
    <a class="closemodal buttonmodal" ng-click="close()"><span><i class="icon icon-cross2"></i></span>CLOSE</a>
</div>