/* COLOR SCHEME (Palette) */
/* Font Colors */
/* Hover Colors */
/* Tab specific */
/* error */
/* Labels = same as @med-font

/* General Pallete */
/* Code Pallete */
/* Curriculum Pallete */
/* DIMENSIONS */
/* HEADER */
/* Curriculum */
/* Z Index */
#daw-container {
  position: absolute;
  right: 0;
  left: 10px;
  bottom: 0;
  top: 10px;
  overflow: auto;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
}
#zoom-container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 34px;
  border-top: 1px solid #333;
}
#daw-main {
  /*width: 1100px; */
  /*width of daw window*/
}
#daw-timeline {
  height: 34px;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  z-index: 9;
  overflow: hidden;
}
#daw-timeline:hover {
  cursor: pointer;
}
.daw-track-group-container {
  margin-top: 34px;
  /*place just under timeline*/
}
.daw-track {
  border: solid;
  border-width: 1px;
  overflow: hidden;
  position: relative;
  background-color: white;
  height: 100%;
}
.daw-track.muted {
  background: #696969;
}
.dawTrackCtrl {
  color: #808080;
  width: 100px;
  height: 100%;
  float: left;
  border: solid;
  border-color: #000000;
  border-width: 1px;
  border-left: 0;
  background-color: #f3f3f3;
  position: relative;
  z-index: 11;
}
.dawAudioClipContainer {
  border: solid;
  border-width: 1px;
  float: left;
  border-color: dodgerblue;
  position: absolute;
  overflow: hidden;
}
.clipWrapper {
  position: relative;
}
.clipName {
  padding: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  left: 0;
  cursor: default;
}
/* Webkit slider styles */
#dawVolumeSlider {
  -webkit-appearance: none;
  width: 80px;
  height: 4px;
  vertical-align: middle;
  margin-top: 12px;
  background-color: #fff;
  margin-right: 20px;
}
#dawVolumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #AAA;
  width: 9px;
  height: 24px;
  cursor: pointer;
}
/* Firefox slider styles */
#dawVolumeSlider::-moz-range-track {
  width: 80px;
  border-radius: 4px;
  height: 14px;
  vertical-align: middle;
  margin-top: 12px;
  background-color: #fff;
}
#dawVolumeSlider::-moz-range-thumb {
  border: none;
  background: #428bca;
  width: 12px;
  height: 34px;
  border-radius: 4px;
  cursor: pointer;
}
/* IE slider styles */
#dawVolumeSlider::-ms-fill-upper,
#dawVolumeSlider::-ms-fill-lower {
  background: transparent;
}
#dawVolumeSlider::-ms-track {
  width: 80px;
  border-radius: 4px;
  height: 14px;
  vertical-align: middle;
  margin-top: 12px;
  background-color: #fff;
}
#dawVolumeSlider::-ms-thumb {
  border: none;
  background: #428bca;
  width: 12px;
  height: 34px;
  border-radius: 4px;
  cursor: pointer;
}
.volumeLabel {
  color: #bbb;
  line-height: 30px;
  font-size: 30px;
  padding: 2px 0;
  cursor: default;
}
.dawTrackName {
  padding-left: 3px;
  color: #000000;
  font-size: 16px;
  width: 100px;
}
.dawTrackContainer {
  position: relative;
}
.dawTrackEffectName {
  padding-left: 3px;
  color: #000000;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
}
.dawTrackEffectDropdown {
  font-size: 12px;
  position: absolute;
  width: 16px;
  height: 20px;
  text-align: center;
  right: 0;
  top: 5px;
}
.dawTrackEffectDropdown:hover {
  color: black;
}
.dawTrackEffectDropdownButton {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 5px;
}
.dawTrackEffectDropdownButton:hover {
  cursor: pointer;
}
.dawTrackEffect {
  position: relative;
  left: 100px;
  border: solid;
  border-color: #000000;
  border-width: 1px;
  background-color: #d1eeff;
  height: 100%;
}
.dawTrackEffect.bypassed {
  background: #696969;
}
.dawEffectCtrl {
  color: #808080;
  width: 100px;
  height: 100%;
  float: left;
  border: solid;
  border-color: #000000;
  border-width: 1px;
  background-color: #f3f3f3;
  position: relative;
  z-index: 10;
}
.dawEffectBypassButton {
  background: #ffffff;
}
.dawEffectBypassButton.active {
  background: #ff0000;
}
/*svg path*/
svg,
svg:hover {
  width: 100%;
  fill: none;
}
svg.axis {
  margin-left: 100px;
}
svg.axis path,
svg.axis:hover path {
  color: black;
  margin-left: 100px;
}
.axis {
  shape-rendering: crispEdges;
  stroke: #000;
  stroke-width: 1;
}
.axis text {
  shape-rendering: crispEdges;
}
.axis .minor {
  stroke-opacity: 0.5;
}
.axis path {
  display: none;
}
svg.effectAxis {
  position: absolute;
  left: 0px;
}
svg.effectSvg {
  position: absolute;
  left: 0px;
  stroke-width: 1;
}
svg.effectSvg path {
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}
.daw-transport-container {
  float: right;
  z-index: 999;
}
.daw-transport-button button {
  font-size: 16px;
}
.dawSoloButton {
  position: absolute;
  right: 40px;
  top: 2px;
  width: 22px;
}
.dawSoloButton.active {
  background: #00ff00;
}
.dawMuteButton {
  position: absolute;
  right: 16px;
  top: 2px;
  width: 22px;
}
.dawMuteButton.active {
  background: #ff0000;
}
#dawProjectSettings {
  float: right;
}
.btn-play {
  color: #5cb85c;
}
.btn-play:hover,
.play-run:active,
.play-run:focus {
  opacity: 0.7;
}
.btn-effect {
  position: absolute;
  top: 11px;
  left: 11px;
  height: 34px;
  z-index: 34;
  width: 100px;
  padding: 4px;
  border-radius: 0px;
}
.btn-zoom {
  font-size: 15px !important;
  height: 10px;
  width: 10px;
  padding: 0;
  line-height: 10px;
}
#v-zoom-in {
  position: absolute;
  bottom: 0;
}
#v-zoom-out {
  position: absolute;
  top: 11px;
}
#h-zoom-in {
  position: absolute;
  top: 0;
  right: 0;
}
#h-zoom-out {
  position: absolute;
  top: 0;
  left: 11px;
}
.bottomControls {
  margin-top: 5px;
}
.ui-slider {
  height: 15px;
  width: 200px;
  left: 8px;
}
.daw-highlight {
  position: absolute;
  top: 0;
  height: 1000px;
  background-color: rgba(255, 153, 0, 0.3);
  border-left: 1px solid #ff9900;
  border-right: 1px solid #ff9900;
  z-index: 10;
  margin-left: 100px;
  overflow: hidden;
  pointer-events: none;
}
.daw-cursor {
  width: 2px;
  height: 100%;
  float: left;
  margin-left: 100px;
  z-index: 10;
  position: absolute;
  top: 0;
  background-color: rgba(153, 153, 153, 0.3);
}
.daw-marker {
  width: 2px;
  height: 100%;
  /*smaller than daw height to avoid infinite scroll*/
  float: left;
  margin-left: 100px;
  z-index: 10;
  position: absolute;
  background-color: #ff0000;
}
#viz {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 34px;
  background-color: #313131;
  border-top: 1px solid #504f4f;
  display: none;
}
.color-picker-modal .modal-dialog {
  width: 500px;
}
#colorPicker {
  position: relative;
  top: 2%;
  left: 26.5%;
}
